	<div class="c01-course-page-title">
		<h2 class="c01-course-name">Introduction to the Passivhaus standard for warm climates</h2>
	  <h3 class="c01-course-instructor">with Micheel Wassouf</h3>
	</div>
	