<div class="library-container">
	<%= render 'course_header_es' %>
	<%= render 'button_menu_es' %>
	<div class="row">
    <div class="medium-8 medium-offset-2 columns">
			<h3 class="c01-lesson-title">Aislamiento térmico e inercia térmica</h3>
			<div class="c01-lesson-content">
				<div class="c01-video-container">
					<div id='playerkSjYrvsaakEn'></div> <script type='text/javascript'> jwplayer('playerkSjYrvsaakEn').setup({ file: 'https://player.vimeo.com/external/106631078.hd.mp4?s=ebbd901cdc19fdf04e73c8fea33e572b', image: 'https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t09.jpg', width: '100%', aspectratio: '16:9' }); </script> </div> <p>Para climas fríos y templado-fríos, el estándar Passivhaus trabaja con un alto aislamiento térmico. A la vez, se ha demostrado que la inercia térmica tiene menor relevancia. En climas cálidos y templado-cálidos, estos edificios siguen teniendo un aislamiento térmico mucho más importante de lo que la normativa pide, pero obviamente no hay que poner los grosores de aislamiento que conocemos para Alemania o Austria, donde tanto paredes como cubiertas suelen tener más de 30 cm de aislamiento, con transmitáncias térmicas del rango de 0,10-0,15 W/m<sup>2</sup>k.</p> <p>No obstante, no se puede predecir el grosor óptimo para un Passivhaus en climas cálidos. Depende de otros factores como por ejemplo la orientación o la compacidad, el grosor de aislamiento puede estar en 25cm como en el ejemplo de Castellterçol, con un clima mediterráneo alpino, o bien 10cm para un edificio bien orientado y compacto en Barcelona, o solo 4cm para un edificio en Río De Janeiro. </p> <p>La inercia térmica es una propiedad física de los materiales. Edificios con alta inercia térmica ayudan muy bien a soportar épocas de calor en verano, sin tener que utilizar máquinas de aire acondicionado.</p> <p>La inercia térmica es una función de la capacidad calorífica de los materiales y de la densidad específica. Se aconseja para edificios tipo Passivhaus tener una alta inercia térmica, sobre todo para garantizar el confort en verano. Aún no existen estudios sistemáticos con datos reales de edificios tipo Passivhaus para analizar la correlación entre inercia térmica, aislamiento térmico y confort climático.</p> <p>Existe la idea preconcebida de que un aislamiento excesivo perjudica el comportamiento térmico de los edificios en verano, diciendo que cuando la envolvente está altamente aislada, el calor acumulado durante el día tiene más dificultad para disiparse por la noche. Esto puede ser cierto en edificios con ganancias solares excesivas en verano (mal orientados o poco protegidos) y con mala ventilación nocturna. En cambio, los edificios pasivos con cargas solares muy controladas en verano, cuando se combinan con una buena estrategia de ventilación nocturna, no les va a perjudicar un alto aislamiento térmico, visto que la temperatura en el interior no llegará a estar por encima de la temperatura exterior. </p>

				<%= render 'button_menu_es' %>
			</div>
		</div>
	</div>
</div>
