<div class="library-container">
	<%= render 'course_header_es' %>
	<%= render 'button_menu_es' %>
	<div class="row">
    <div class="medium-8 medium-offset-2 columns">
			<h3 class="c01-lesson-title">Compacidad</h3>
			<div class="c01-lesson-content">
				<div class="c01-video-container">
					<div id='playerkSjYrvsaakEn'></div> <script type='text/javascript'> jwplayer('playerkSjYrvsaakEn').setup({ file: 'https://player.vimeo.com/external/106623076.hd.mp4?s=693cecdff5088cd3140ac4f1e2a67dc1', image: 'https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t07.jpg', width: '100%', aspectratio: '16:9' }); </script> </div> <p>En el concepto tradicional del edificio, se interpreta la envolvente térmica como una piel, a través de la cual existe un flujo energético negativo: el calor se escapa en invierno, y el frío en verano. Por esto, es lógico minimizar la superficie de esta piel, manteniendo el tamaño del volumen interior. Esta relación entre piel exterior y volumen interior se entiende como la compacidad. Se suele expresar en superficie por volumen. Una vivienda unifamiliar aislada por ejemplo suele tener un valor de 0,8 - 1; mientras que un hospital grande tiene valores de 0,2 - 0,4.</p> <p>Según cálculos del Passivhaus Institut, curiosamente, la compacidad afecta sobre todo la demanda para calefacción, mientras que la refrigeración se reduce con menor grado al incrementar la compacidad.</p> <p>A modo de ejemplo, la demanda para calefacción de una vivienda entre medianeras en Madrid puede reducirse desde 28 kWh/m<sup>2</sup>a para una compacidad baja (A/V=1) hasta 3 kWh/m<sup>2</sup>a para una compacidad alta (A/V = 0,2). La superficie útil del edificio no cambia.</p>

				<%= render 'button_menu_es' %>
			</div>
		</div>
	</div>
</div>
