<div class="library-container">
	<%= render 'course_header_es' %>
	<%= render 'button_menu_es' %>
	<div class="row">
    <div class="medium-8 medium-offset-2 columns">
			<h3 class="c01-lesson-title">Contexto global</h3>
			<div class="c01-lesson-content">
				<div class="c01-video-container">
					<iframe src="https://player.vimeo.com/video/101614289" width="770" height="433" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div> 
				<p>Aparecen en los años 70 las primeras normas de construcción de bajo consumo energético. En Suecia por ejemplo se publica en 1975 la SBN75 que impone transmitancias térmicas de 0,3 W/m<sup>2</sup>k para paredes y 0,2 para cubiertas, y unas infiltraciones muy bajas, basadas en los tests de Blower Door (3/h para viviendas unifamiliares).</p>
				<p>En los años 80 se construyen una serie de edificios de bajo consumo, cuya definición internacional sería: Demanda energética ≤ 0,02 kWh/m<sup>2</sup> y kelvin-día. En Alemania, este valor equivale a una demanda para calefacción de 70 kWh/m<sup>2</sup>a. En Roma, solo serían 28 kWh/m<sup>2</sup>a. En Alemania, el Land Hesse establece una primera línea de subvenciones para edificios de bajo consumo en el año 1988.</p> 
				<p>En este mismo Land se financia a finales de los ochenta un “proyecto de investigación preparatorio para casas pasivas”, liderado por Doctor Wolfgang Feist y Bo Adamson. Feist fundará unos años después el PHI en Darmstadt.</p>
				<p>La intención de este proyecto era desarrollar un tipo de edificios de muy bajo consumo con un coste relativamente bajo para los promotores y usuarios. Feist y Adamson descubrieron que llegando a una demanda muy baja para calefacción de menos de 15 kWh/m<sup>2</sup>a, el poco calor necesario para mantener el confort en invierno se podía suministrar a través de la ventilación mecánica de doble flujo. De esta manera se podía prescindir de la instalación convencional de radiadores (o de suelo radiante), con lo cual, este edificio resultó más económico en su ciclo de vida que un edificio de referencia de bajo consumo. A raíz de la investigación de Feist y Adamson, se ha construido un primer edificio piloto de 4 viviendas pareadas en Darmstadt-Kranichstein, terminado en 1991.</p>
				<p>Este edificio es objeto de una serie de proyectos de evaluaciones y monitorizaciones, todas con resultados muy positivos. De hecho, la demanda real de este edificio para calefacción media anual es de 10 kWh/m<sup>2</sup>a.</p>
				<p>Hoy en día, el estándar Passivhaus se está aplicando no solo para el sector doméstico, sino también en el sector terciario y en edificios docentes. Recientemente se han certificado incluso supermercados, estaciones de bomberos o centros deportivos en Passivhaus. Este estándar se aplica también para rehabilitaciones, aunque es más difícil de conseguir, dado que depende mucho de la orientación y del perfil solar del edificio. Por eso, se ha creado recientemente el sello EnerPhit, que se aplica en la rehabilitación energética de edificios, y que establece unos requisitos adaptados a las dificultades que representa una rehabilitación energética.</p>
				<%= render 'button_menu_es' %>
			</div>
		</div>
	</div>
</div>