<div class="library-container">
	<%= render 'course_header_en' %>
	<%= render 'button_menu_en' %>
	<div class="row">
    <div class="medium-8 medium-offset-2 columns">
			<h3 class="c01-lesson-title">Airtightness</h3>
			<div class="c01-lesson-content">
				<div class="c01-video-container">
					<div id='playerkSjYrvsaakEn'></div> <script type='text/javascript'> jwplayer('playerkSjYrvsaakEn').setup({ file: 'https://player.vimeo.com/external/198654880.hd.mp4?s=28638df448d021b96adf37f8fac6f383377ea742&profile_id=174', image: 'https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t11.jpg', width: '100%', aspectratio: '16:9' }); </script> 
				</div> 
				<p>Air passage tightness describes the amount of non-desired air infiltrations that a building has. For buildings of the Passivhaus type it is convenient to minimize these infiltrations, not only for energy reasons but also for comfort reasons. In fact, the tightness criteria is one of the strictest criteria when certifying on Passivhaus. As it happened in other concepts explained before, air tightness is more relevant at the energy level when the climate is more extreme. In mild climates, of the “Happy climate” type (for instance, Lisbon in Portugal), air tightness has a more reduced impact than in a very cold or very warm climate. </p>

				<p>If, for example, we change the reference building from Castellterçol to Lisbon and the obtained airtightness from 0.6 air renewals to 2 air renewals, the heating demand will be increased from 3 kWh to 4 kWh, whereas in Castellterçol, the heating demand will be increased from 13 to 18 kWh/m<sup>2</sup>y.

				<p>In buildings of the Passivhaus type, air tightness is controlled by the development of well airtight constructive details and through the pressurisation test during the construction stage. </p>

				<p>To achieve a high air passage tightness, these three steps must be followed: 
					<ul>
						<li> The design of the airtight building covering in the constructive plans and details.</li>
						<li>The drafting of the measures and of the detailed construction documents, taking into account the requirements for the air passage tightness.  </li>
						<li>The air tightness control during the execution of the work through the pressurisation test.  </li>
					</ul>
				</p>
				
				<p>Pressurisation test serves to measure the tightness of the building covering. This test is ruled by the UNE-EN-13829.</p>
				
				<p>The test is carried out once the external windows and doors are installed, but before finishing the works, since it must be possible to correct the infiltrations of the skin without having to dismantle important elements of the building covering.</p> 

				<p>Apart from the energy save, a good tightness of the thermal building covering avoids the danger of the interstitial condensations and assures a very high acoustic comfort.  </p>
				
				<%= render 'button_menu_en' %>
			</div>
		</div>
	</div>
</div>