<div class="library-container">
	<%= render 'course_header_en' %>
	<%= render 'button_menu_en' %>
	<div class="row">
    <div class="medium-8 medium-offset-2 columns">
			<h3 class="c01-lesson-title">Compactness</h3>
			<div class="c01-lesson-content">
				<div class="c01-video-container">
					<div id='playerkSjYrvsaakEn'></div> <script type='text/javascript'> jwplayer('playerkSjYrvsaakEn').setup({ file: 'https://player.vimeo.com/external/198561930.hd.mp4?s=0715dca7eff1b9afe941e68d9a4037b34aa13c12&profile_id=174', image: 'https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t07.jpg', width: '100%', aspectratio: '16:9' }); </script> 
				</div> 
				<p>In the traditional concept of building, the thermal building envelope is interpreted as a skin through which there is a negative energy flux: heat leaks out in winter and cold leaks out in summer. For this reason, it is logical to minimize the surface of this skin, keeping the size of the internal volume. This relation between the external skin and the internal volume is understood as compactness. It is usually expressed in surface by volume. An isolated single-family home, for instance, usually has a value of 0.8 - 1; whereas a big hospital has values of 0.2 – 0.4.</p>

				<p>According to the calculations of the Passivhaus Institut, curiously, compactness especially affects the heating demand whereas refrigeration is reduced with a lesser degree when increasing compactness.</p>

				<p>As an example, the heating demand of a detached single-family home in Madrid can be reduced from 28 kWh/m<sup>2</sup>y for a low compactness (A/V=1) to 3 kWh/m<sup>2</sup>y for a high compactness (A/V = 0.2). The useful surface of the building does not change.</p>


				<%= render 'button_menu_en' %>
			</div>
		</div>
	</div>
</div>