<div class="library-container">
	<%= render 'course_header_en' %>
	<%= render 'button_menu_en' %>
	<div class="row">
    <div class="medium-8 medium-offset-2 columns">
			<h3 class="c01-lesson-title">Global context</h3>
			<div class="c01-lesson-content">
				<div class="c01-video-container">
					<div id='playerkSjYrvsaakEn'></div> <script type='text/javascript'> jwplayer('playerkSjYrvsaakEn').setup({ file: 'https://player.vimeo.com/external/197936983.hd.mp4?s=2118c186d3b37d5b6bd4e153ca03dae9743695de&profile_id=174', image: 'https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t01_en.jpg', width: '100%', aspectratio: '16:9' }); </script> 
				</div> 
				<p>The first low energy consumption building standards appeared in the 70’s. In Sweden, for instance, the SBN75 was issued in 1975, which established thermal transmittances of 0.3 W/m<sup>2</sup>k for walls and of 0.2 for coverings, and very low infiltrations, based on the  Blower Door tests (3/h for single-family homes).
				
				<p>During the 80’s, a series of low energy buildings were built, whose international definition would be: Energy demand ≤ 0.02 kWh/m<sup>2</sup> and kelvin-day. In Germany, this value equals a heating demand of 70 kWh/m<sup>2</sup>y. In Rome, it would only be of 28 kWh/m<sup>2</sup>y. In Germany, the Land Hesse establishes a first funding line for low consumption buildings in 1988.</p>

				<p>In this same Land, at the end of the 80’s, a “preparatory research project for passive homes” is funded, led by Doctor Wolfgang Feist and Bo Adamson. A few years later, Feist will fund the PHI at Darmstadt.</p>

				<p>The aim of this project was to develop a type of building with a very low consumption and with a relatively low cost for developers and users. Feist and Adamson discovered that by reaching a very low heating demand, below 15 kWh/m<sup>2</sup>a, the little heat required to maintain comfort in winter could be supplied through the double-flux mechanical ventilation. This way, they could do without the conventional heater installations (or radiant floors) with which this building proved to be more cost-effective in its life cycle that a low consumption reference building. From the Feist and Adamson research, a first pilot building of 4 semi-detached homes was built, finished in 1991.</p>

				<p>This building is under a series of projects for its evaluation and monitoring, all of them with very positive results. In fact, the real demand of this building for the annual heating average is 10 kWh/m<sup>2</sup>y.</p>

				<p>Nowadays, the Passivhaus standard is being applied not only for the domestic sector but also for the tertiary sector and in academic buildings. Recently, even supermarkets, fire stations or sports centres have been certified in Passivhaus. This standard is also applied to refurbishments, although it is harder to obtain, since it much depends on the orientation and on the solar profile of the building. For this reason, the EnerPhit seal has been recently created, which is applied in the energy refurbishment of buildings and which establishes some requirements adapted to the difficulties that an energy refurbishment represents.</p>

				<%= render 'button_menu_en' %>
			</div>
		</div>
	</div>
</div>