<div class="library-container">
	<%= render 'course_header_en' %>
	<%= render 'button_menu_en' %>
	<div class="row">
    <div class="medium-8 medium-offset-2 columns">
			<h3 class="c01-lesson-title">Thermal insulation and thermal inertia</h3>
			<div class="c01-lesson-content">
				<div class="c01-video-container">
					<div id='playerkSjYrvsaakEn'></div> <script type='text/javascript'> jwplayer('playerkSjYrvsaakEn').setup({ file: 'https://player.vimeo.com/external/198649836.hd.mp4?s=d01ebe5143bc36c1cdb293102bdfd83a9ad88b76&profile_id=174', image: 'https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t09.jpg', width: '100%', aspectratio: '16:9' }); </script> 
				</div> 
				<p>For cold and mild-cold climates, the Passivhaus standard works with a great thermal insulation. In turn, it has been proved that thermal inertia has a reduced relevance. In warm and mild-warm climates, these buildings still have a thermal insulation that is much more important than what the regulations require, but obviously, there is no need to put the insulation thicknesses we use for Germany or Austria, where both the walls and the building coverings have an insulation of over 30 cm, with thermal transmittances within the range of 0.10-0.15 W/m<sup>2</sup>k.</p>

				<p>However, the optimum thickness for a Passivhaus in warm climates cannot be predicted. It depends on other factors like, for instance, orientation or compactness. The insulation thickness can be at 25 cm like in the Castellterçol example, with a Mediterranean-alpine climate, or at 10 cm for a well orientated and compacted building in Barcelona, or just at 4 cm for a building in Rio de Janeiro.</p>

				<p>Thermal inertia is a physical property of materials. The buildings with a high thermal inertia help very well to support hot seasons in summer without the need of using air conditioning machines. </p>

				<p>Thermal inertia is a function of the heat capacity of the materials and of the specific density. For the type of Passivhaus buildings, it is advised to have a high thermal inertia, especially to assure comfort in summer. There are not yet any systematic studies with real data of the type of Passivhaus buildings to analyse the correlation between thermal inertia, thermal insulation and climatic comfort. </p>

				<p>There is the preconceived idea that an excessive insulation undermines the thermal behaviour of buildings in summer, meaning that when the building covering is highly insulated, the heat accumulated during the day has more difficulties to be dissipated at night. This can be true in buildings with excessive solar gains in summer (badly orientated or little protected) and with a badly night ventilation. On the other hand, passive buildings with very controlled solar charges in summer, when combined with a good night ventilation strategy, are not going to be undermined by a high thermal insulation, since internal temperature will not be higher than external temperature. </p>


				<%= render 'button_menu_en' %>
			</div>
		</div>
	</div>
</div>