<div class="library-container">
	<%= render 'course_header_en' %>
	<%= render 'button_menu_en' %>
	<div class="row">
    <div class="medium-8 medium-offset-2 columns">
			<h3 class="c01-lesson-title">Orientation</h3>
			<div class="c01-lesson-content">
				<div class="c01-video-container">
					<div id='playerkSjYrvsaakEn'></div> <script type='text/javascript'> jwplayer('playerkSjYrvsaakEn').setup({ file: 'https://player.vimeo.com/external/198552084.hd.mp4?s=a4330646628e9a25aeafaca6dc198c3db616144f&profile_id=174', image: 'https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t06.jpg', width: '100%', aspectratio: '16:9' }); </script> 
				</div> 
				<p>The orientation of the building is the main factor influencing the heating and the refrigeration demand. The best theoretical orientation of the building is facing south (for the northern hemisphere). With this orientation, solar gains are maximized in winter, when we need the solar energy to heat the building. In turn, the southern façade is the orientation with a lower heat impact with regards to the eastern and western orientation. The high solar angle during the summer in the south-facing façades allows an easier solar protection than in the other two previous orientations.</p>

				<p>In theory, the south-facing orientation recommends to develop elongated buildings, with small eastern and western façades, and with long northern and southern façades. This pattern is generally valid for cold and mild climates. For warm climates, an excess of south-facing façades can lead to overheating problems when a good solar protection lacks. In fact, the more solar radiation a place has, the most sensitive its energy demand is with regards to the orientation of its façades. </p>

				<p>In Passivhaus (northern hemisphere), it is advised to minimize the openings towards north, east and south. Above all, the windows facing north usually have negative annual energy balances, which means that they loose more energy through transmission losses than their solar radiation gains. When an opaque wall, for instance in the case of Castellterçol, has a transmittance of 0.14 W/m<sup>2</sup>k, the windows have a transmittance of 1.1 W/m<sup>2</sup>k, that is to say, we are losing almost ten times more energy due to transmissions by the windows than by the own network.  </p>

				<p>Thanks to the last generations of triple low emissivity glasses, nowadays it is possible to reduce the transmission losses of the windows up to values of 0.7 W/m<sup>2</sup>k, so the first passive buildings with large windows facing north are already appearing in warm climates. These solutions would not be possible for cold or cold-mild climates. </p>

				<p>Notwithstanding the foregoing, for warm climates there are cases when the south-facing orientation is not the best energy solution, like for example a prevailing wind in mountainous or coastline areas, which can determine an ideal orientation of a building to maximize the heat losses in summer through a natural ventilation.</p>

				<%= render 'button_menu_en' %>
			</div>
		</div>
	</div>
</div>