<div class="library-container">
	<%= render 'course_header_en' %>
	<%= render 'button_menu_en' %>
	<div class="row">
    <div class="medium-8 medium-offset-2 columns">
			<h3 class="c01-lesson-title">PHPP 6: Windows and shadows</h3>
			<div class="c01-lesson-content">
				<div class="c01-video-container">
					<div id='playerkSjYrvsaakEn'></div> <script type='text/javascript'> jwplayer('playerkSjYrvsaakEn').setup({ file: 'https://player.vimeo.com/external/198870516.hd.mp4?s=f040d02ef4a600cac5e5d360a8f830604f6ca772&profile_id=174', image: 'https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t18.jpg', width: '100%', aspectratio: '16:9' }); </script> 
				</div> 
				
			</div>
		</div>
	</div>
</div>