<div class="library-container">
	<%= render 'course_header_en' %>
	<%= render 'button_menu_en' %>
	<div class="row">
    <div class="medium-8 medium-offset-2 columns">
			<h3 class="c01-lesson-title">Solar protection</h3>
			<div class="c01-lesson-content">
				<div class="c01-video-container">
					<div id='playerkSjYrvsaakEn'></div> <script type='text/javascript'> jwplayer('playerkSjYrvsaakEn').setup({ file: 'https://player.vimeo.com/external/198563282.hd.mp4?s=53d59a6a2866df890cbf3fc1c897b07c6319732d&profile_id=174', image: 'https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t08.jpg', width: '100%', aspectratio: '16:9' }); </script> 
				</div> 
				<p>Solar radiation is the passive source to heat buildings in winter. Unfortunately, this advantage becomes a negative effect in summer with the warming of the interior areas. For that reason, the hollows of the building must be optimized so that they maximize solar gains in winter and minimize them in summer. The best way to achieve this condition is to use a mobile solar protection, or working with cantilever bridges or fixed filters that let radiation enter in winter and stop it in summer. </p> 

				<p>An important value to be regarded for solar protection, apart from elements such as shutters or awnings, is the panes solar factor. For Passivhaus in cold or mild-cold climates, it is advised to maximize this factor (values equal or higher than 0.5). In warm climates, it is more complex to establish solar factor patterns. Depending on the annual balances and on the heating and refrigeration demand, as well as the location of the building, ideal solar factors for windows will have to be regarded.  </p>

				<%= render 'button_menu_en' %>
			</div>
		</div>
	</div>
</div>