<div class="library-container">
	<%= render 'course_header_en' %>
	<%= render 'button_menu_en' %>
	<div class="row">
    <div class="medium-8 medium-offset-2 columns">
			<h3 class="c01-lesson-title">Thermal bridges</h3>
			<div class="c01-lesson-content">
				<div class="c01-video-container">
					<div id='playerkSjYrvsaakEn'></div> <script type='text/javascript'> jwplayer('playerkSjYrvsaakEn').setup({ file: 'https://player.vimeo.com/external/198651407.hd.mp4?s=ebb52a869d2b8ac2e2620739255e4bb52a6bf22e&profile_id=174', image: 'https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t10.jpg', width: '100%', aspectratio: '16:9' }); </script> 
				</div> 
				<p>The thermal bridge is understood as a reduction in the thermal building covering. Lineal and punctual thermal bridges are distinguished. Lineal thermal bridges usually have a greater impact than punctual thermal bridges. In buildings with very low energy qualities, thermal bridges have less relevance, since the own concept of the thermal bridge is defined as a corrective factor that takes into account the difference of the energy flow through the thermal bridge and the homogeneous flux through the constructive element without the effect of the thermal bridge. When there are already too many losses through the own wall, the effect of a thermal bridge will not be so much noticed.   </p>

				<p>On the contrary, in a building of the Passivhaus type, where transmission and ventilation losses are already very reduced, thermal bridges may have a very big impact, if they are not controlled in the project and in the execution. </p>

				<p>The Passivhaus standard has established some very clear guidelines to define and quantify thermal bridges. A constructive detail is considered without a thermal bridge when the lineal thermal transmittance of this detail has a maximum value of 0.01 W/mk. This definition is a mathematical approximation for the simulation in the PHPP and it is based on the EN-13790 standard.</p>

				<p>In our case in Castellterçol, there is no thermal bridge because the isolation of the building covering is continuous in its whole perimeter. This fact corresponds to the so-called marker rule, which advises not to interrupt the insulation along the building covering. </p>

				<p>For warm climates, the thermal bridge does not obviously have the same relevance as in a central European climate. Depending on the degrees/day of each place, the energy impact upon the building varies. If the degrees/day are very low in winter (that is to say, if there are high average temperatures), the effect of the thermal bridges is much reduced. </p>

				<p>Apart from the energy control, in the thermal bridges it is required to check that no superficial or interstitial condensations are produced due to a reduction of the temperatures in the internal surface of the constructive detail. A thermal bridge may not “disturb” the total energy balance of the building, but it does affect the hygiene of internal spaces. </p>

				<%= render 'button_menu_en' %>
			</div>
		</div>
	</div>
</div>