<div class="library-container">
	<%= render 'course_header_en' %>
	<%= render 'button_menu_en' %>
	<div class="row">
    <div class="medium-8 medium-offset-2 columns">
			<h3 class="c01-lesson-title">Controlled ventilation</h3>
			<div class="c01-lesson-content">
				<div class="c01-video-container">
					<div id='playerkSjYrvsaakEn'></div> <script type='text/javascript'> jwplayer('playerkSjYrvsaakEn').setup({ file: 'https://player.vimeo.com/external/198658433.hd.mp4?s=7a9a9514dd0e52ab594b0850b6b86dd5811ed76d&profile_id=174', image: 'https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t12.jpg', width: '100%', aspectratio: '16:9' }); </script> 
				</div> 
				<p>In a Passivhaus, the ventilation required due to hygiene and health reasons is not made through infiltrations but through a double-flow controlled ventilation system.</p>

				<p>Mechanic controlled ventilation works as the lungs within human body. The air is vacuumed with a fan (in the human body it is a muscle), is cleaned with filters (in the human body it is the nose) and enters in the heat recovery system (in the human body it is the lungs). This heat recovery systems passes the stale air that comes from the outside, without mixing both flows. </p>

				<p>Apart from assuring a continuous ventilation, this system has another great advantage: with the double flow mechanic ventilation it is possible to recover a great part of the energy of the building before it is expelled outside. The ideal performance degree for the heat or cold recovery depends on the severity of the climate in each location. For places with very cold or hot climates, it should be between 75% and 95%.</p>

				<p>The energy saved by a heat recovery system especially depends on the external temperatures, reflected by the degrees-day of each place.</p>

				<p>Take as an example a climate like in Barcelona, which during the winter months has a seasonal average temperature of 10 degrees and of 23 degrees during the summer months. With an interior temperature of 20 degrees in winter, the seasonal average temperature difference in winter would be of about 10 degrees, whereas it is insignificant in summer. </p>

				<p>The electric consumption of both fans that move the air in these systems must be subtracted from the energy saved from the recovery system. However, in the last generation recovery systems, the electric consumption of these fans is in a range between 40 and 80 watts (the range of a conventional light bulb), a much lesser value than the saved energy.</p>

				<p>Apart from the energy savings, the MCV systems also have two other greater advantages:
					<ul>
						<li>Acoustic isolation in areas with acoustic contamination.</li>
						<li>A high hygienic air quality thanks to the filtering of air particles.</li>
					</ul>
				</p>

				<p>It is important not to mistake the comfort ventilation concept (the commercial name of the double-flow controlled ventilation) with an air conditioning. With a well installed comfort ventilation, the users of the buildings will not perceive the airflows nor the noise of the fans. The air speed in living areas cannot exceed 0.1 m/s, and noise requirements are very strict. An air conditioning for a conventional building (a load of 80 W/m<sup>2</sup>), in the coldest or hottest season, needs up to 20 renewals/h to provide the spaces enough cold; on the contrary, a controlled ventilation for Passivhaus buildings will provide flows below 0.5 renewals/h.</p>

				
				<%= render 'button_menu_en' %>
			</div>
		</div>
	</div>
</div>