<div class="library-container">
	<%= render 'course_header_es' %>
	<%= render 'button_menu_es' %>
	<div class="row">
    <div class="medium-8 medium-offset-2 columns">
			<h3 class="c01-lesson-title">Filosofía Passivhaus</h3>
			<div class="c01-lesson-content">
				<div class="c01-video-container">
					<iframe src="https://player.vimeo.com/video/101614291" width="770" height="433" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div> 
				<p>Un edificio se puede considerar Passivhaus cuando la energía necesaria para calefacción o bien para refrigeración se puede suministrar sólo a través del aire de la ventilación necesaria para garantizar un mínimo de higiene en los ámbitos interiores.</p> 
				<p>Esta definición es la única definición a nivel internacional que tiene validez de modo independiente del clima del lugar. Todos los demás estándares existentes establecen una serie de criterios de medición y de certificación en función de la situación geográfica de cada lugar. La definición internacional de Passivhaus explica el éxito que está teniendo en todo el mundo.</p>

				<%= render 'button_menu_es' %>
			</div>
		</div>
	</div>
</div>