<div class="library-container">
	<%= render 'course_header_es' %>
	<%= render 'button_menu_es' %>
	<div class="row">
    <div class="medium-8 medium-offset-2 columns">
			<h3 class="c01-lesson-title">Hermeticidad al paso del aire</h3>
			<div class="c01-lesson-content">
				<div class="c01-video-container">
					<div id='playerkSjYrvsaakEn'></div> <script type='text/javascript'> jwplayer('playerkSjYrvsaakEn').setup({ file: 'https://player.vimeo.com/external/102574262.hd.mp4?s=4bc7f3ae7fec3a1eeb958a2b9d8b81be', image: 'https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t11.jpg', width: '100%', aspectratio: '16:9' }); </script> </div> <p>La hermeticidad al paso de aire describe la cantidad de infiltraciones de aire no deseadas que tiene un edificio. Para edificios tipo Passivhaus es conveniente minimizar estas infiltraciones, no solo por razones energéticas, sino también por cuestiones de confort. De hecho, el criterio de la hermeticidad es uno de los criterios más estrictos a la hora de certificar en Passivhaus. Como en otros conceptos explicados anteriormente, la hermeticidad al aire es más relevante a nivel energético cuando más extremo es el clima. En climas templados, tipo “Happy climate” (por ejemplo Lisboa en Portugal), la hermeticidad al aire tiene un impacto más reducido que en un clima muy frío o muy cálido.</p> <p>Si por ejemplo pusiéramos el edificio de referencia nuestro en Castellterçol a Lisboa, y si cambiáramos la hermeticidad al aire conseguida de 0,6 renovaciones a 2 renovaciones la demanda para calefacción subiría de 3 kWh a 4 kWh, mientras que en Castellterçol, la demanda para calefacción subiría de 13 a 18 kWh/m<sup>2</sup>a.</p> <p>En edificios tipo Passivhaus la hermeticidad queda controlada mediante la elaboración de detalles constructivos bien estancos y mediante el test de presurización durante la fase de construcción. </p> <p>Para conseguir una alta hermeticidad al paso de aire hay que seguir tres pasos: <ul> <li>Concepción de la envolvente estanca en planos y detalles constructivos</li> <li>Redacción de mediciones y pliegos de construcción detallados, teniendo en cuenta las exigencias para la hermeticidad al aire.</li> <li>Control de la hermeticidad durante de la ejecución de obra mediante test de presurización.</li> </ul> <p>El test de presurización sirve para medir la hermeticidad de la envolvente del edificio. Este test queda reglado con la UNE-EN-13829.</p> <p>El test se hace una vez instaladas las ventanas y puertas exteriores, pero antes de terminar las obras, dado que debe ser posible corregir infiltraciones de la piel sin tener que desmontar elementos importantes de la envolvente.</p> <p>Además del ahorro energético, una buena hermeticidad de la envolvente térmica evita el peligro de condensaciones intersticiales, y garantiza un confort acústico muy alto.</p>

				<%= render 'button_menu_es' %>
			</div>
		</div>
	</div>
</div>
