<div class="library-container">
	<%= render 'course_header_es' %>
	<%= render 'button_menu_es' %>
	<div class="row">
    <div class="medium-8 medium-offset-2 columns">
			<h3 class="c01-lesson-title">Presentación del caso práctico</h3>
			<div class="c01-lesson-content">
				<div class="c01-video-container">
					<div id='playerkSjYrvsaakEn'></div> <script type='text/javascript'> jwplayer('playerkSjYrvsaakEn').setup({ file: 'https://player.vimeo.com/external/102574635.hd.mp4?s=12f7dda710ba5c97f33de4b982933cde', image: 'https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t05.jpg', width: '100%', aspectratio: '16:9' }); </script> 
				</div>

				<%= render 'button_menu_es' %>
			</div>
		</div>
	</div>
</div>