<div class="library-container">
	<%= render 'course_header_es' %>
	<%= render 'button_menu_es' %>
	<div class="row">
    <div class="medium-8 medium-offset-2 columns">
			<h3 class="c01-lesson-title">Orientación</h3>
			<div class="c01-lesson-content">
				<div class="c01-video-container">
					<div id='playerkSjYrvsaakEn'></div> <script type='text/javascript'> jwplayer('playerkSjYrvsaakEn').setup({ file: 'https://player.vimeo.com/external/106622334.hd.mp4?s=dcd153207a4b74c23b1d62ec57913aa2', image: 'https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t06.jpg', width: '100%', aspectratio: '16:9' }); </script> </div> <p>La orientación del edificio es el factor que más influye sobre la demanda de calefacción o refrigeración. La mejor orientación teórica del edificio es el sur (para el hemisferio norte). Con esta orientación se maximizan las ganancias solares en invierno, cuando necesitamos la energía solar para calentar el edificio. A la vez, la fachada sur es la orientación con menor impacto de calor respecto a las orientaciones este y oeste. El alto ángulo solar en verano en las fachadas orientadas a sur permite una protección solar más fácil que en las otras dos orientaciones mencionadas.</p> <p>En teoría, la orientación hacia sur aconseja desarrollar edificios alargados, con poca fachada este y oeste, y largas fachas norte y sur. Esta pauta es más bien válida para climas fríos y templados. Para climas cálidos, un exceso en fachadas orientadas a sur puede llevar a problemas de sobrecalentamiento, cuando no haya una buena protección solar. De hecho, cuanta más radiación solar tiene un sitio, más sensible se muestra en su demanda energética respecto a la orientación de sus fachadas.</p> <p>En Passivhaus (hemisferio norte) se aconseja minimizar las aberturas hacia norte, este y sur. Sobre todo ventanas orientadas a norte suelen tener balances energéticos anuales negativos, quiere decir que pierden mucha más energía a través de pérdidas por transmisión que lo que ganas por radiación solar. Cuando una pared opaca por ejemplo en el caso de Castellterçol tiene una transmitáncia de 0,14 W/m<sup>2</sup>k, las ventanas tienen una transmitáncia de 1,1 W/m<sup>2</sup>k, o sea estamos perdiendo casi 10 veces más energía por transmisión a través de las ventanas que a través de la propia pared. </p> <p>Gracias a las últimas generaciones de vidrios triples bajo emisivos, es posible hoy en día reducir las pérdidas por transmisión de ventanas hasta valores de 0,7 W/m<sup>2</sup>k, con lo cual aparecen en climas cálidos ya primeros edificios pasivos con amplios ventanales a norte. Estas soluciones no serían posibles para climas fríos o frío-templados.</p> <p>No obstante de lo dicho anteriormente, para climas cálidos existen casos donde la orientación a sur no es la mejor solución energética, como puede ser por ejemplo un viento dominante en zonas montañosas o de costa, que puede determinar una ideal orientación de un edificio para maximizar las pérdidas de calor en verano a través de una ventilación natural.</p>

				<%= render 'button_menu_es' %>
			</div>
		</div>
	</div>
</div>
