<div class="library-container">
	<%= render 'course_header_es' %>
	<%= render 'button_menu_es' %>
	<div class="row">
    <div class="medium-8 medium-offset-2 columns">
			<h3 class="c01-lesson-title">PHPP 5: Terreno</h3>
			<div class="c01-lesson-content">
				<div class="c01-video-container">
					<div id='playerkSjYrvsaakEn'></div> <script type='text/javascript'> jwplayer('playerkSjYrvsaakEn').setup({ file: 'https://player.vimeo.com/external/198859892.hd.mp4?s=7fe32aa52043e9bd6a89f4b35db91d44f6727f71&profile_id=174', image: 'https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t17.jpg', width: '100%', aspectratio: '16:9' }); </script> </div>

				
			</div>
		</div>
	</div>
</div>
