<div class="library-container">
	<%= render 'course_header_es' %>
	<%= render 'button_menu_es' %>
	<div class="row">
    <div class="medium-8 medium-offset-2 columns">
			<h3 class="c01-lesson-title">PHPP 3: Valores U</h3>
			<div class="c01-lesson-content">
				<div class="c01-video-container">
					<div id='playerkSjYrvsaakEn'></div> <script type='text/javascript'> jwplayer('playerkSjYrvsaakEn').setup({ file: 'https://player.vimeo.com/external/198827880.hd.mp4?s=4e40498a40a20c3deff0f39e64e61d3aa9c7d3e8&profile_id=174', image: 'https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t15.jpg', width: '100%', aspectratio: '16:9' }); </script> </div>

				<%= render 'button_menu_es' %>
			</div>
		</div>
	</div>
</div>
