<div class="library-container">
	<%= render 'course_header_es' %>
	<%= render 'button_menu_es' %>
	<div class="row">
    <div class="medium-8 medium-offset-2 columns">
			<h3 class="c01-lesson-title">PHPP 4: Superfícies</h3>
			<div class="c01-lesson-content">
				<div class="c01-video-container">
					<iframe src="https://player.vimeo.com/video/198830986" width="770" height="433" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				
			</div>
		</div>
	</div>
</div>
