<div class="library-container">
	<%= render 'course_header_es' %>
	<%= render 'button_menu_es' %>
	<div class="row">
    <div class="medium-8 medium-offset-2 columns">
			<h3 class="c01-lesson-title">Protección solar</h3>
			<div class="c01-lesson-content">
				<div class="c01-video-container">
					<div id='playerkSjYrvsaakEn'></div> <script type='text/javascript'> jwplayer('playerkSjYrvsaakEn').setup({ file: 'https://player.vimeo.com/external/102576184.hd.mp4?s=cbe7ec36510785c8d4b45fe186500dcb', image: 'https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t08.jpg', width: '100%', aspectratio: '16:9' }); </script> </div> <p>La radiación solar es la fuente pasiva para calentar los edificios en invierno. Desgraciadamente, esta ventaja se convierte en efecto negativo en verano, con el calentamiento de los espacios interiores. Por eso, hay que optimizar los huecos del edificio de manera que maximizan las ganancias solares en invierno y las minimizan en verano. La mejor manera para conseguir esta condición es la utilización de una protección solar móvil o bien de trabajar con voladizos o filtros fijos que dejan pasar la radiación en invierno y la paran en verano. </p> <p>Un valor importante a contemplar para la protección solar, además de elementos como persianas o toldos, es el factor solar de los vidrios. Para Passivhaus en climas fríos o templado-fríos, se aconseja maximizar este factor (valores iguales o mayores de 0,5). En climas cálidos, es más complejo el establecer pautas para el factor solar. En función de los balances anuales y la relación entre demanda para calefacción, refrigeración y la zonificación del edificio se tendría que buscar los factores solares ideales para las ventanas.</p>

				<%= render 'button_menu_es' %>
			</div>
		</div>
	</div>
</div>
