<div class="library-container">
	<%= render 'course_header_es' %>
	<%= render 'button_menu_es' %>
	<div class="row">
    <div class="medium-8 medium-offset-2 columns">
			<h3 class="c01-lesson-title">Puentes térmicos</h3>
			<div class="c01-lesson-content">
				<div class="c01-video-container">
					<iframe src="https://player.vimeo.com/video/102576642" width="770" height="433" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div> 
				<p>El puente térmico se entiende como una merma en la envolvente térmica del edificio. Se distinguen puentes térmicos lineales y puntuales. Los puentes térmicos lineales suelen ser de mayor impacto que los puentes térmicos puntuales. En edificios con muy bajas calidades energéticas, los puentes térmicos tienen menor relevancia, ya que el propio concepto de puente térmico se define como un factor corrector que tiene en cuenta la diferencia del flujo energético a través del puente térmico y el flujo homogéneo a través del elemento constructivo sin el efecto del puente térmico. Cuando ya hay muchas pérdidas a través de la propia pared, el efecto de un puente térmico no se notará tanto.</p> <p>En cambio, en edificio tipo Passivhaus, donde las pérdidas por transmisión y ventilación ya son muy reducidas, los puentes térmicos pueden tener un impacto muy grande, si no se controlan en el proyecto y en la ejecución.</p> <p>El estándar Passivhaus ha establecido unas pautas muy claras para definir y cuantificar los puentes térmicos. Un detalle constructivo se considera sin puente térmico, cuando la transmitancia térmica lineal de este detalle tenga un valor máximo de 0,01 W/mk. Esta definición es una aproximación matemática para la simulación en el PHPP, y está basada en la norma EN-13790.</p> <p>En el caso nuestro de Castellterçol, no existe ningún puente térmico, porque el aislamiento de la envolvente es continuo en el total de su perímetro. Este hecho corresponde a la llamada regla del rotulador, que aconseja no interrumpir el aislamiento a lo largo de la envolvente.</p> <p>Para climas cálidos, el puente térmico evidentemente no tiene la misma relevancia que en un clima centroeuropeo. En función de los grados días de cada sitio, varía el impacto energético sobre el edificio. Si los grados días son muy pequeños en invierno (es decir, si se dan altas temperaturas promedias), el efecto de los puentes térmicos es reducido. </p> <p>Además del control energético, en los puentes térmicos hay que vigilar que no se produzcan condensaciones superficiales e intersticiales, debido a la reducción de las temperaturas en la superficie interior del detalle constructivo. Puede que un puente térmico no ‘moleste’ al balance energético total del edificio, pero sí que afecte a la higiene de los espacios interiores.</p>

				<%= render 'button_menu_es' %>
			</div>
		</div>
	</div>
</div>
