<div class="library-container">
	<%= render 'course_header_es' %>
	<%= render 'button_menu_es' %>
	<div class="row">
    <div class="medium-8 medium-offset-2 columns">
			<h3 class="c01-lesson-title">Ventilación controlada</h3>
			<div class="c01-lesson-content">
				<div class="c01-video-container">
					<iframe src="https://player.vimeo.com/video/108329837" width="770" height="433" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>
				<p>En un Passivhaus, la ventilación necesaria por razones de higiene y de salud no se hace a través de las infiltraciones, sino a través de un sistema de ventilación controlada de doble flujo.</p> <p>La ventilación mecánica controlada funciona como los pulmones del cuerpo humano. El aire se aspira con un ventilador (en el cuerpo humano es un músculo), se limpia con filtros (en el cuerpo humano es la nariz) y entra en el recuperador de calor (en el cuerpo humano son los pulmones). Este recuperador de calor pasa la energía del aire viciado al aire que viene del exterior, sin que haya una mezcla de los dos flujos. <p>Además de garantizar una ventilación contínua, este sistema tiene otra gran ventaja: Con la ventilación mecánica de doble flujo, es posible recuperar una gran parte de la energía del edificio, antes de que esté expulsado al exterior. El grado de rendimiento ideal de la recuperación de calor o frío depende de la severidad climática de cada sitio. Para sitios con climas muy fríos o calientes, tendría que estar entre el 75% y el 95%. <p>La energía ahorrada por un recuperador de calor depende sobre todo de las temperaturas exteriores, reflejadas en los Grados-Día de cada sitio. <p>Pongamos como ejemplo un clima como el de Barcelona, que tiene en los meses de invierno una temperatura media estacional de 10 grados y en los meses de verano de 23 grados. Con la temperatura interior en invierno de 20 grados, la diferencia de temperatura media estacional en invierno sería aproximadamente 10 grados, mientras que en verano es insignificante. <p>A la energía ahorrada de la recuperadora se le tiene que restar el consumo eléctrico de los dos ventiladores que hacen mover el aire en estos sistemas. No obstante, en recuperadores de última generación, el consumo eléctrico de estos ventiladores se mueve en un rango de entre 40 y 80 vatios (en el rango de una bombilla convencional), un valor mucho menor que la energía ahorrada. <p>Los sistemas de VMC tienen además de la ventaja de ahorro energético dos otras ventajas importantes: <ul> <li>Aislamiento acústico en zonas con una contaminación acústica</li> <li>Alta calidad higiénica del aire por el filtrado de partículas de aire</li> </ul> <p>Es importante no confundir el concepto de ventilación de confort (el nombre comercial de la ventilación controlada de doble flujo) con un aire acondicionado. Con una ventilación de confort bien instalada, los usuarios de los edificios no notarían las corrientes de aire ni el ruido de los ventiladores. La velocidad de aire en las zonas de estar no puede superar 0,1 m/s, y los requisitos para el ruido son muy estrictos. Un aire acondicionado para un edifico convencional (carga de 80 W/m2) necesita en la época más fría o bien caliente hasta 20 renovaciones/h para aportar el frío necesario a los espacios; en cambio, una ventilación controlada para edificios Passivhaus aportaría caudales no mayores a 0,5 renovación/h.</p>

				<%= render 'button_menu_es' %>
			</div>
		</div>
	</div>
</div>
