<div class="library-container">
	<%= render 'course_header_es' %>
	<%= render 'button_menu_es' %>
	<div class="row">
    <div class="medium-8 medium-offset-2 columns">
			<h3 class="c01-lesson-title">Componentes del recuperador de calor</h3>
			<div class="c01-lesson-content">
				
					
					<iframe src="https://player.vimeo.com/video/479654879" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

				
			</div>
		</div>
	</div>
</div>
