			<h3>Avís legal</h3>
			<p>Segons la Llei Orgànica 15/1999 de Protecció de Dades de Caràcter Personal (LOPD) i la normativa de desenvolupament, les dades personals que ens ha facilitat són confidencials i formen part dels fitxers d'EdificaPRO (Marca comercial de Jordi Martí Muñoz, amb DNI 36531630V). La finalitat d'aquestes dades és garantir el seu accés als cursos i mantenir-lo informat sobre nous cursos o iniciatives vinculades al tema tractat a la pàgina web edificapro.com.</p> 
			<p>En cap cas les dades facilitades en algun dels diferents formularis de edificapro.com seran cedides a tercers, excepte en els supòsits legalment establerts.</p> 
			<p>Podeu exercir els drets d'accés, rectificació, cancel·lació i oposició, personalment o per escrit, identificant mitjançant el DNI, a:<br/>
			EdificaPRO<br/>
			Jordi Martí Muñoz<br/>
			c/ Rogent, 118 Pral 2a<br/>
			08026 Barcelona<br/>
			</p>