			<h3>Aviso legal</h3>
			<p>Según la Ley Orgánica 15/1999 de Protección de Datos de Carácter Personal (LOPD) y su normativa de desarrollo, los datos personales que nos ha facilitado son confidenciales y forman parte de los ficheros de EdificaPRO (Marca comercial de Jordi Martí Muñoz, con DNI 36531630V). La finalidad de estos datos es garantizar su acceso a los cursos y mantenerle informado sobre nuevos cursos o iniciativas vinculadas al tema tratado en la página web edificapro.com.</p>
			<p>En ningún caso los datos facilitados en alguno de los distintos formularios de edificapro.com serán cedidos a terceros, excepto en los supuestos legalmente establecidos.</p>
			<p>Puede ejercer los derechos de acceso, rectificación, cancelación y oposición, personalmente o por escrito, identificándose a través del DNI, en:<br/>
			EdificaPRO<br/>
			Jordi Martí Muñoz<br/>
			c/ Rogent, 118 Pral 2a<br/>
			08026 Barcelona<br/>
			</p>