			<h3>Términos y condiciones de uso</h3>
			<p>Versión de 2 de octubre de 2014</p>
			<p>Por favor lea cuidadosamente los siguientes términos y condiciones de uso antes de acceder a los cursos de EdificaPRO. Accediendo a los cursos usted está aceptando todos los términos y condiciones de uso que se reflejan en este documento. Si no está de acuerdo con estos términos y condiciones de uso, no debería acceder al sitio.</p>
			
			<p>Usando el servicio de EdificaPRO usted está aceptando que ha leído, comprendido y aceptado estos términos y condiciones de uso.</p>

			<h4>1. Información de contacto</h4>
			<p>Los contenidos que aparecen en la página web edificapro.com son propiedad de Jordi Martí Muñoz.</p>
			<p>Jordi Martí Muñoz<br/>
			Rogent, 118 Pral 2a<br/>
			08026 Barcelona<br/>
			jordi.marti@edificapro.com<br/>
			www.edificapro.com<br/>
			</p>

			<h4>2. Modificación de los términos y condiciones de uso</h4>
			<p>El sitio web edificapro.com se reserva el derecho de modificación de estos términos y condiciones en cualquier momento. El cambio de estos términos se realizará previa notificación a los usuarios de edificapro.com, ya sea con una nota en la página web o con el envío de un correo electrónico indicando la modificacion de dichos términos y condiciones uso. Cualquier uso de edificapro.com después de haber realizado cambios en los términos y condiciones de uso implican la aceptación de estos cambios.</p>

			<h4>3. Política de pagos, devoluciones y limitaciones de uso</h4>
			<p>Al comprar un curso los usuarios de edificapro.com estan comprando el derecho a acceder a dicho curso de forma ilimitada mientras el servicio de formación de edificapro.com se mantenga activo. El aprovechamiento del curso está destinado exclusivamente al adquiriente, que debe haber registrado debidamente su nombre.</p>
			<p>En caso de insatisfacción con la compra realizada de un curso de edificapro.com, el adquiriente puede reclamar la devolución del dinero pagado por la compra durante los 3 días siguientes a la fecha de compra. En caso que se devuelva el dinero de un curso se privará al adquiriente de la posibilidad de continuar accediendo al curso.</p>
			<p>Los pagos de la página web edificapro.com se realizan mediante Stripe. Los datos de la tarjeta de crédito no quedan almacenados en los servidores de edificapro.com ni en ficheros propiedad de Jordi Martí Muñoz. Estos datos se transmiten directamente a Stripe para el procesamiento del cobro.</p>
			<p>Cuando se compra un producto online, el contrato de compraventa se establece en el mismo momento en el que se permite el acceso de la cuenta de usuario.</p>

			<h4>4. Autorización de acceso</h4>
			<p>No se permite traspasar o ceder los datos de acceso. El cliente ha de asegurarse de que sus datos de acceso no sean conocidos por terceros, aun cuando sea involuntariamente. En caso de sospechas fundadas de que los cursos que se ofrecen en edificapro.com se están utilizando de forma no permitida o abusiva, Jordi Martí Muñoz se reserva el derecho de tomar medidas adecuadas después de establecer contacto con el cliente. Estas medidas pueden ser entre otras, sin ser las únicas posibles, un cambio de contraseña de la cuenta de usuario en cuestión, la desactivación provisional del acceso o la eliminación de la cuenta de usuario afectada.</p>
			<p>En caso de que el curso online no esté disponible de forma transitoria durante un corto período de tiempo no se admitirán reclamaciones posteriores o una reducción en el precio.  Una avería transitoria o una inaccesibilidad transitoria del servidor no autorizan al abonado a revocar un contrato o a reclamar indemnizaciones. </p>

			<h4>5. Responsabilidad legal</h4>
			<p>Ni Jordi Martí Muñoz ni los profesores que realizan los cursos se hacen responsables del contenido de los cursos, en especial de la corrección formal o de contenido o de la legalidad de los contenidos, textos, imágenes, soportes de imágenes o de imágenes y sonido, fuentes, instrucciones, etc. </p>

			<h4>6. Confidencialidad de datos y publicidad</h4>
			<p>El cliente otorga su consentimiento a que Jordi Martí Muñoz determine, almacene y gestione datos informáticamente sobre personas tales como nombre, apellidos, código postal, dirección, número de teléfono, dirección de correo electrónico, dirección de internet, fecha de nacimiento,  etc, para fines de establecimiento y gestión del contrato. </p>
			<p>Al inscribirse en edificapro.com los clientes facilitan un correo electrónico en el que se podrá enviar boletines publicitarios únicamente relacionados con la temática de la página web: nuevos cursos, noticias, herramientas y otras informaciones que tengan relación con el sector de la edificación.</p>