			<h3>Termes i condicions d'ús</h3>
			<p>Versió de 2 d'octubre de 2014</p>
			<p>Si us plau llegiu acuradament els següents termes i condicions d'ús abans d'accedir als cursos d'EdificaPRO. Accedint als cursos vostè està acceptant tots els termes i condicions d'ús que es reflecteixen en aquest document. Si no està d'acord amb aquests termes i condicions d'ús, no hauria d'accedir al lloc.</p>
			
			<p>Utilitzant el servei de EdificaPRO vostè està acceptant que ha llegit, comprès i acceptat aquests termes i condicions d'ús.</p>

			<h4>1. Informació de contacte</h4>
			<p>Els continguts que apareixen a la pàgina web www.edificapro.com són propietat de Jordi Martí Muñoz.</p>
			<p>Jordi Martí Muñoz<br/>
			Rogent, 118 Pral 2a<br/>
			08026 Barcelona<br/>
			jordi.marti@edificapro.com<br/>
			www.edificapro.com<br/>
			</p>

			<h4>2. Modificació dels terms i condicions d'ús</h4>
			<p>El lloc web edificapro.com es reserva el dret de modificació d'aquests termes i condicions en qualsevol moment. El canvi d'aquests termes es realitzarà prèvia notificació als usuaris d'edificapro.com, ja sigui amb una nota a la pàgina web o amb l'enviament d'un correu electrònic indicant la modificació d'aquests termes i condicions ús. Qualsevol ús d'edificapro.com després d'haver realitzat canvis en els termes i condicions d'ús impliquen l'acceptació d'aquests canvis.</p>

			<h4>3. Política de pagaments, devolucions i limitacions d'ús</h4>
			<p>En comprar un curs els usuaris d'edificapro.com estan comprant el dret a accedir a aquest curs de forma il·limitada mentre el servei de formació d'edificapro.com es mantingui actiu. L'aprofitament del curs està destinat exclusivament a l'adquirent, que ha d'haver registrat degudament el seu nom.</p>
			<p>En cas d'insatisfacció amb la compra realitzada d'un curs d'edificapro.com, l'adquirent pot reclamar la devolució dels diners pagats per la compra durant els 3 dies següents a la data de compra. En cas que es tornin els diners d'un curs l'adquirent perdrà la possibilitat de continuar accedint al curs.</p>
			<p>Els pagaments de la pàgina web edificapro.com es realitzen mitjançant Stripe. Les dades de la targeta de crèdit no queden emmagatzemades en els servidors d'edificapro.com ni en fitxers propietat de Jordi Martí Muñoz. Aquestes dades es transmeten directament a Stripe per al processament del cobrament.</p>
			<p>Quan es compra un producte en línia, el contracte de compravenda s'estableix en el mateix moment en què es permet l'accés del compte d'usuari.</p>

			<h4>4. Autorització d'accés</h4>
			<p>No es permet traspassar o cedir les dades d'accés. El client ha d'assegurar-se que les seves dades d'accés no siguin conegudes per tercers, tot i que sigui involuntàriament. En cas de sospites fundades que els cursos que s'ofereixen a edificapro.com s'estan utilitzant de forma no permesa o abusiva, Jordi Martí Muñoz es reserva el dret de prendre mesures adequades després d'establir contacte amb el client. Aquestes mesures poden ser entre d'altres, sense ser les úniques possibles, un canvi de contrasenya del compte d'usuari en qüestió, la desactivació provisional de l'accés o l'eliminació del compte d'usuari afectat.</p>
			<p>En cas que el curs en línia no estigui disponible de forma transitòria durant un curt període de temps no s'admetran reclamacions posteriors o una reducció en el preu. Una avaria transitòria o una inaccessibilitat transitòria del servidor no autoritzen l'abonat a revocar un contracte o reclamar indemnitzacions.</p>

			<h4>5. Responsabilitat legal</h4>
			<p>Ni Jordi Martí Muñoz ni els professors que realitzen els cursos es fan responsables del contingut dels cursos, especialment de la correcció formal o de contingut o de la legalitat dels continguts, textos, imatges, suports d'imatges o d'imatges i so, fonts, instruccions, etc.</p>

			<h4>6. Confidencialitat de dades i publicitat</h4>
			<p>El client atorga el seu consentiment a que Jordi Martí Muñoz determini, emmagatzemi i gestioni dades informàticament sobre persones com ara nom, cognoms, codi postal, adreça, número de telèfon, adreça de correu electrònic, adreça d'internet, data de naixement, etc, per a fins d'establiment i gestió del contracte.</p>
			<p>Al inscribirse en edificapro.com los clientes facilitan un correo electrónico en el que se podrá enviar boletines publicitarios únicamente relacionados con la temática de la página web: nuevos cursos, noticias, herramientas y otras informaciones que tengan relación con el sector de la edificación.</p>