<div class="light-container">
	<div class="row">
		<div class="medium-8 columns">
			<div class="main-container">
				<h3><%= t('.access_denied_title') %></h3>
				<p><%= t('.permissions') %>.</p>
			</div>
		</div>
	</div>
</div>