<div class="library-container">
	<div class="c01-course-page-title">
		<h2 class="c01-course-name">Especial EPSEB Alumni UPC Ventilación</h2>
	  <h3 class="c01-course-instructor">con Micheel Wassouf y Guim Castrillo</h3>
	</div>
	
	<div class="c01-course-menu-container">

		<div class="row">
			<div class="medium-12 columns">
				<h3 class="c01-menu-title">Un regalo para los alumni de EPSEB UPC</h3>
				<h4>Por cortesía de Energiehaus y S&P, y con el fin de manteneros al día sobre las nuevas maneras de construir, os ofrecemos unos fantásticos contenidos formativos sobre Passivhaus y ventilación mecánica.</h4> 
				<br/>
				<br/>
			</div>
		</div>
		
		<div class="row">
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'menu_es'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">Introducción al estándar Passivhaus</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t05.jpg', :alt => 'Contexto global') %>
			    </div>
			  <% end %>
	    </div>
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_ventilation', action: 'index'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">Ventilación mecánica en viviendas Passivhaus</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/vent2.jpg', :alt => 'Filosofía Passivhaus') %>
			    </div>
			  <% end %>
	    </div>
	    <div class="medium-4 columns">
	    </div>
	    
	  </div>
	</div>
</div>