// Place all the styles related to the ClasesPassivhaus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clases-video-container {
	margin-bottom: 30px;
}

.clases-numero {
	float: left;
	font-weight: bold;
	padding-right: 20px;
}

.imatge-download {
	width: 30px;
}

.clases-video-amb-documentacio {
	float: left;
}

.clases-documentacio-video {
	margin-left: 650px;
	border: 1px solid #ccc;
	padding: 10px;
	width: 250px;
	background-color: #eaeaea;
}

.clases-end-float {
	clear: both;
}