// Place all the styles related to the ClasesPassivhaus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clases-video-container {
	margin-bottom: 30px;
}

.clases-numero {
	float: left;
	font-weight: bold;
	padding-right: 20px;
}