<div class="library-container">
	<%= render 'course_header_tradesperson' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-12 columns">
				<h3 class="c01-menu-title">Vídeos de las clases (2)</h3>
				
				<div class="clases-video-container">
					<h3 class="clases-numero">9</h3>
					<iframe src="https://player.vimeo.com/video/399477649" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">10</h3>
					<iframe src="https://player.vimeo.com/video/399498232" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">11</h3>
					<iframe src="https://player.vimeo.com/video/399526118" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>
				
				<div class="clases-video-container">
					<h3 class="clases-numero">12</h3>
					<iframe src="https://player.vimeo.com/video/399579686" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">13</h3>
					<iframe src="https://player.vimeo.com/video/399584707" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">14</h3>
					<iframe src="https://player.vimeo.com/video/399587207" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">15</h3>
					<iframe src="https://player.vimeo.com/video/399590016" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">16</h3>
					<iframe src="https://player.vimeo.com/video/399593028" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">17</h3>
					<iframe src="https://player.vimeo.com/video/399596406" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">18</h3>
					<iframe src="https://player.vimeo.com/video/399598443" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">19</h3>
					<iframe src="https://player.vimeo.com/video/399601802" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">20</h3>
					<iframe src="https://player.vimeo.com/video/399603266" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">21</h3>
					<iframe src="https://player.vimeo.com/video/399605763" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">22</h3>
					<iframe src="https://player.vimeo.com/video/399607446" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

			</div>
		</div>
	</div>
</div>