<div class="library-container">
	<div class="c01-course-page-title">
		<h2 class="c01-course-name">Curso CTE - Passivhaus</h2>
	  <h3 class="c01-course-instructor">con Micheel Wassouf</h3>
	</div>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-12 columns">
				<h3>Clases grabadas</h3>
				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<h4>Sesión 1</h4>
							<iframe src="https://player.vimeo.com/video/473459155" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<h4>Sesión 2</h4>
							<iframe src="https://player.vimeo.com/video/475056646" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>