<div class="library-container">
	<div class="c01-course-page-title">
		<h2 class="c01-course-name">CPD Online mayo 2021</h2>
	  <h3 class="c01-course-instructor">Preparación examen</h3>
	</div>
	<div class="c01-course-menu-container">
		
		<div class="row">
			
		</div>

		<div class="row">
			<div class="medium-8 columns">
				<div class="clases-video-container">
					<iframe src="https://player.vimeo.com/video/565971494" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>
				
			</div>
		</div>
	</div>
</div>