<div class="library-container">
	<%= render 'course_header_cpd_oct2020' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			
		</div>

		<div class="row">
			<div class="medium-8 columns">
				
				<h3>Clases de repaso</h3>

				<div class="clases-video-container">
					<iframe src="https://player.vimeo.com/video/475001446" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<iframe src="https://player.vimeo.com/video/475000927" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<iframe src="https://player.vimeo.com/video/476368603" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<iframe src="https://player.vimeo.com/video/476369797" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<iframe src="https://player.vimeo.com/video/478991898" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>
				
			</div>
		</div>
	</div>
</div>