<div class="library-container">
	<%= render 'course_header_cpd_oct2020' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-8 columns">
				

				<div class="clases-temario-container">
					<br/>
					<table class="clases-temario" style="width:640px">
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">0</td>
							<td style="width:480px;background-color:#666;color:#fff;">Introducción a la física de la construcción</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							
						</tr>
						<tr>
							<td style="width:40px;">0.1</td>
							<td style="width:480px;"><a href="#t0-1">Conducción</a></td>
							<td style="width:100px;">07:17</td>
							
						</tr>
						<tr>
							<td>0.2</td>
							<td><a href="#t0-2">Radiación</a></td>
							<td>04:15</td>
							
						</tr>
						<tr>
							<td>0.3</td>
							<td><a href="#t0-3">Convección</a></td>
							<td>04:12</td>
							
						</tr>
						<tr>
							<td>0.4</td>
							<td><a href="#t0-4">Transmitancia térmica</a></td>
							<td>12:45</td>
							
						</tr>
						<tr>
							<td>0.5</td>
							<td><a href="#t0-5">Balance energético</a></td>
							<td>07:50</td>
							
						</tr>
						<tr>
							<td>0.6</td>
							<td><a href="#t0-6">Cálculo de pérdidas por transmisión</a></td>
							<td>04:00</td>
							
						</tr>
						<tr>
							<td>0.7</td>
							<td><a href="#t0-7">Cálculo de pérdidas por ventilación</a></td>
							<td>07:14</td>
							
						</tr>
						<tr>
							<td>0.8</td>
							<td><a href="#t0-8">Cálculo de ganancias internas</a></td>
							<td>04:24</td>
							
						</tr>
						<tr>
							<td>0.9</td>
							<td><a href="#t0-9">Cálculo de ganancias solares</a></td>
							<td>05:51</td>
							
						</tr>
						<tr>
							<td>0.10</td>
							<td><a href="#t0-10">Cálculo de cargas de frío y calor</a></td>
							<td>04:51</td>
							
						</tr>
					</table>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-12 columns">

				

				<div class="clases-video-container">
					<a id="t0-1"></a>
					<h3>T0-1 Conducción</h3>
					<iframe src="https://player.vimeo.com/video/459396406" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-2"></a>
					<h3>T0-2 Radiación</h3>
					<iframe src="https://player.vimeo.com/video/459396561" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-3"></a>
					<h3>T0-3 Convección</h3>
					<iframe src="https://player.vimeo.com/video/459396890" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-4"></a>
					<h3>T0-4 Transmitancia térmica</h3>
					<iframe src="https://player.vimeo.com/video/459396941" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-5"></a>
					<h3>T0-5 Balance energético</h3>
					<iframe src="https://player.vimeo.com/video/459472549" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-6"></a>
					<h3>T0-6 Cálculo de pérdidas por transmisión</h3>
					<iframe src="https://player.vimeo.com/video/459472715" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-7"></a>
					<h3>T0-7 Cálculo de pérdidas por ventilación</h3>
					<iframe src="https://player.vimeo.com/video/459474360" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-8"></a>
					<h3>T0-8 Cálculo de ganancias internas</h3>
					<iframe src="https://player.vimeo.com/video/459474490" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-9"></a>
					<h3>T0-9 Cálculo de ganancias solares</h3>
					<iframe src="https://player.vimeo.com/video/459475787" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-10"></a>
					<h3>T0-10 Cálculo de cargas de frío y calor</h3>
					<iframe src="https://player.vimeo.com/video/459475910" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

			</div>
		</div>
	</div>
</div>