<div class="library-container">
	<%= render 'course_header_cpd_oct2020' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-12 columns">
				
				<p>Documentación:</p>
				<div style="border: 1px solid #ccc;background-color: #eaeaea;padding: 10px">
					<a href="https://edificapro.s3-eu-west-1.amazonaws.com/energiehaus/documentacion_cpd_oct2020.zip" download>
						<%= image_tag "download.png", class:"imatge-download" %>
					  Descargar documentación
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-12 columns">
				<div class="clases-video-container">
					<h3>Introducción a la física de la construcción</h3>
					<a id="t0-1"></a>
					<h3>Conducción</h3>
					<iframe src="https://player.vimeo.com/video/459396406" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-2"></a>
					<h3>Radiación</h3>
					<iframe src="https://player.vimeo.com/video/459396561" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-3"></a>
					<h3>Convección</h3>
					<iframe src="https://player.vimeo.com/video/459396890" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-4"></a>
					<h3>Transmitancia térmica</h3>
					<iframe src="https://player.vimeo.com/video/459396941" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-5"></a>
					<h3>Balance energético</h3>
					<iframe src="https://player.vimeo.com/video/459472549" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-6"></a>
					<h3>Cálculo de pérdidas por transmisión</h3>
					<iframe src="https://player.vimeo.com/video/459472715" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-7"></a>
					<h3>Cálculo de pérdidas por ventilación</h3>
					<iframe src="https://player.vimeo.com/video/459474360" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-8"></a>
					<h3>Cálculo de ganancias internas</h3>
					<iframe src="https://player.vimeo.com/video/459474490" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-9"></a>
					<h3>Cálculo de ganancias solares</h3>
					<iframe src="https://player.vimeo.com/video/459475787" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-10"></a>
					<h3>Cálculo de cargas de frío y calor</h3>
					<iframe src="https://player.vimeo.com/video/459475910" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-12 columns">
				<h3>Clases grabadas</h3>
				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/469940116" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>