<div class="library-container">
	<%= render 'course_header_cpd_oct2020' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-12 columns">
				
				<p>Documentación:</p>
				<div style="border: 1px solid #ccc;background-color: #eaeaea;padding: 10px">
					<a href="https://edificapro.s3-eu-west-1.amazonaws.com/energiehaus/documentacion_cpd_oct2020.zip" download>
						<%= image_tag "download.png", class:"imatge-download" %>
					  Descargar documentación
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-12 columns">
				<h3>Clases grabadas</h3>
				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/469940116" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>