<div class="library-container">
	<%= render 'course_header_cpd_desescalada' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-12 columns">
				<h3 class="c01-menu-title">Preparación examen</h3>
				<div class="clases-video-container">
					<iframe src="https://player.vimeo.com/video/440552795" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
