<div class="library-container">
	<%= render 'course_header_quedateencasa' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-12 columns">
				<h3 class="c01-menu-title">CPD #desescalada</h3>

				<div class="clases-video-container">
					<h3>Sesión 0</h3>
					<iframe src="https://player.vimeo.com/video/433675214" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

			</div>
		</div>
	</div>
</div>