<div class="library-container">
	<%= render 'course_header_cpd_desescalada' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-12 columns">
				<h3>Clases grabadas</h3>
				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/433675214" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/434426073" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/435088673" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/435089133" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/436334926" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/436917987" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/436918265" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/439140807" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/439141025" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/439146395" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<br/>
		
		<div class="row">
			<div class="medium-12 columns">
				<h3>Sesiones extras del primer viernes</h3>
				
				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							
							<iframe src="https://player.vimeo.com/video/435696022" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="clases-video-container">
							
							<iframe src="https://player.vimeo.com/video/435696112" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>

		<br/>

		<div class="row">
			<div class="medium-12 columns">
				<h3>Sesiones extras del segundo viernes</h3>
				
				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							
							<iframe src="https://player.vimeo.com/video/439147151" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="clases-video-container">
							
							<iframe src="https://player.vimeo.com/video/439147192" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							
							<iframe src="https://player.vimeo.com/video/439147261" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-12 columns">
				<h3>Sesiones extras del tercer viernes</h3>
				
				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							
							<iframe src="https://player.vimeo.com/video/440736739" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="clases-video-container">
							
							<iframe src="https://player.vimeo.com/video/440736833" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							
							<iframe src="https://player.vimeo.com/video/440736904" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					
				</div>
			</div>
		</div>

	</div>
</div>