<div class="library-container">
	<%= render 'course_header_cpd_desescalada' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-12 columns">
				<h3 class="c01-menu-title">Sesiones grabadas</h3>

				<div class="clases-video-container">
					<h3>Sesión 0</h3>
					<iframe src="https://player.vimeo.com/video/433675214" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="medium-12 columns">
				
				<div class="clases-video-container">
					<h3>Sesión 1</h3>
					<iframe src="https://player.vimeo.com/video/434426073" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="medium-12 columns">
				
				<div class="clases-video-container">
					<h3>Sesión 2</h3>
					<iframe src="https://player.vimeo.com/video/435088673" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="medium-12 columns">
				
				<div class="clases-video-container">
					<h3>Sesión 3</h3>
					<iframe src="https://player.vimeo.com/video/435089133" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="medium-12 columns">
				
				<div class="clases-video-container">
					<h3>Sesión 4</h3>
					<iframe src="https://player.vimeo.com/video/436334926" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="medium-12 columns">
				
				<div class="clases-video-container">
					<h3>Sesiones extra del primer viernes</h3>
					<iframe src="https://player.vimeo.com/video/435696022" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
					<iframe src="https://player.vimeo.com/video/435696112" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

			</div>
		</div>


	</div>
</div>