<div class="library-container">
	<%= render 'course_header' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-12 columns">
				<h3 class="c01-menu-title">Vídeos de las clases (3)</h3>
				
				<div class="clases-video-container">
					<h3 class="clases-numero">1</h3>
					<iframe src="https://player.vimeo.com/video/376393814" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">2</h3>
					<iframe src="https://player.vimeo.com/video/376394414" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">3</h3>
					<iframe src="https://player.vimeo.com/video/376395024" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">4</h3>
					<iframe src="https://player.vimeo.com/video/376395678" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">5</h3>
					<iframe src="https://player.vimeo.com/video/376432163" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">6</h3>
					<iframe src="https://player.vimeo.com/video/376434415" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">7</h3>
					<iframe src="https://player.vimeo.com/video/376435993" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">8</h3>
					<iframe src="https://player.vimeo.com/video/376437567" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">9</h3>
					<iframe src="https://player.vimeo.com/video/376438869" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">10</h3>
					<iframe src="https://player.vimeo.com/video/376440191" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">11</h3>
					<iframe src="https://player.vimeo.com/video/376499289" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">12</h3>
					<iframe src="https://player.vimeo.com/video/376499605" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">13</h3>
					<iframe src="https://player.vimeo.com/video/376507501" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">14</h3>
					<iframe src="https://player.vimeo.com/video/376507703" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">15</h3>
					<iframe src="https://player.vimeo.com/video/376507911" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">16</h3>
					<iframe src="https://player.vimeo.com/video/376508012" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">17</h3>
					<iframe src="https://player.vimeo.com/video/376507316" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

			</div>
		</div>
	</div>
</div>