<div class="library-container">
	<%= render 'course_header' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-12 columns">
				<h3 class="c01-menu-title">Vídeos de las clases</h3>
				
				<div class="clases-video-container">
					<h3 class="clases-numero">1</h3>
					<iframe src="https://player.vimeo.com/video/370850630" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">2</h3>
					<iframe src="https://player.vimeo.com/video/370873497" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">3</h3>
					<iframe src="https://player.vimeo.com/video/370878557" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">4</h3>
					<iframe src="https://player.vimeo.com/video/370879289" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">5</h3>
					<iframe src="https://player.vimeo.com/video/370928878" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">6</h3>
					<iframe src="https://player.vimeo.com/video/370928904" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">7</h3>
					<iframe src="https://player.vimeo.com/video/370929738" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">8</h3>
					<iframe src="https://player.vimeo.com/video/370929796" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">9</h3>
					<iframe src="https://player.vimeo.com/video/370967268" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">10</h3>
					<iframe src="https://player.vimeo.com/video/370967864" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">11</h3>
					<iframe src="https://player.vimeo.com/video/370968500" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">12</h3>
					<iframe src="https://player.vimeo.com/video/370968648" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">13</h3>
					<iframe src="https://player.vimeo.com/video/371208372" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">14</h3>
					<iframe src="https://player.vimeo.com/video/372109146" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">15</h3>
					<iframe src="https://player.vimeo.com/video/371208928" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">16</h3>
					<iframe src="https://player.vimeo.com/video/371209451" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">17</h3>
					<iframe src="https://player.vimeo.com/video/371346377" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">18</h3>
					<iframe src="https://player.vimeo.com/video/371346518" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">19</h3>
					<iframe src="https://player.vimeo.com/video/371346921" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">20</h3>
					<iframe src="https://player.vimeo.com/video/371395943" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">21</h3>
					<iframe src="https://player.vimeo.com/video/371400688" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>