<div class="library-container">
	<%= render 'course_header_latam' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-12 columns">
				<h3>Clases grabadas</h3>
				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<p>Jornada 1</p>
							<iframe src="https://player.vimeo.com/video/464294716" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<p>Jornada 2</p>
							<iframe src="https://player.vimeo.com/video/464295197" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<p>Jornada 3</p>
							<iframe src="https://player.vimeo.com/video/464295656" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<p>Jornada 4</p>
							<iframe src="https://player.vimeo.com/video/465929355" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<p>Jornada 5</p>
							<iframe src="https://player.vimeo.com/video/465929852" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<p>Jornada 6</p>
							<iframe src="https://player.vimeo.com/video/467861840" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<p>Jornada 7</p>
							<iframe src="https://player.vimeo.com/video/467907992" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<p>Jornada 8</p>
							<iframe src="https://player.vimeo.com/video/468036804" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>