<div class="library-container">
	<%= render 'course_header_latam' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-12 columns">
				<h3 class="c01-menu-title">TEMA 1: Componentes pasivos I</h3>

				<div class="clases-temario-container">
					<table class="clases-temario" style="width:640px">
						<tr>
							<td>Imprescindible</td>
							<td style="width:40px;background-color:green"></td>
						</tr>
						<tr>
							<td>Opcional</td>
							<td style="width:40px;background-color:yellow;"></td>
						</tr>
					</table>
					<br/>
					<table class="clases-temario" style="width:640px">
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">1</td>
							<td style="width:480px;background-color:#666;color:#fff;">El proyectista y el proceso de certificación</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td>1.1</td>
							<td><a href="#t1-1">El proyectista certificado Passivhaus</a></td>
							<td>06:18</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">2</td>
							<td style="width:480px;background-color:#666;color:#fff;">Historia del estándar Passivhaus</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td>2.1</td>
							<td><a href="#t2-1">Estándar de bajo consumo versus certificación medioambiental</a></td>
							<td>41:35</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td>2.2</td>
							<td><a href="#t2-2">Los orígenes del estándar Passivhaus</a></td>
							<td>17:53</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">3</td>
							<td style="width:480px;background-color:#666;color:#fff;">Definición criterios básicos</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td>3.1</td>
							<td><a href="#t3-1">Filosofía del estándar Passivhaus</a></td>
							<td>13:46</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>3.2</td>
							<td><a href="#t3-2">Criterio independiente del clima</a></td>
							<td>19:56</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>3.3</td>
							<td><a href="#t3-3">Criterios directos para la certificación</a></td>
							<td>19:14</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>3.4</td>
							<td><a href="#t3-4">Criterios indirectos para la certificación</a></td>
							<td>39:57</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td>3.5</td>
							<td><a href="#t3-5">Actividad de certificación del PHI</a></td>
							<td>13:20</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">4</td>
							<td style="width:480px;background-color:#666;color:#fff;">Ejemplos y detalles constructivos en Centroeuropa, Italia, España</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td>4.1</td>
							<td><a href="#t4-1">Ejemplo Alemania</a></td>
							<td>14:52</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td>4.2</td>
							<td><a href="#t4-2">Ejemplo España 1</a></td>
							<td>10:48</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>4.3</td>
							<td><a href="#t4-3">Ejemplo España 2</a></td>
							<td>11:22</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>4.4</td>
							<td><a href="#t4-4">Ejemplo España 3</a></td>
							<td>09:51</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>4.5</td>
							<td><a href="#t4-5">Ejemplo España 4</a></td>
							<td>11:57</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>4.6</td>
							<td><a href="#t4-6">Ejemplo España 5</a></td>
							<td>12:53</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>4.7</td>
							<td><a href="#t4-7">Ejemplo España 6</a></td>
							<td>13:54</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>4.8</td>
							<td><a href="#t4-8">Ejemplo Italia 1</a></td>
							<td>15:54</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>4.9</td>
							<td><a href="#t4-9">Ejemplo Italia 2</a></td>
							<td>06:11</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>4.10</td>
							<td><a href="#t4-10">Ejemplo Italia 3</a></td>
							<td>07:57</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>4.11</td>
							<td><a href="#t4-11">Ejemplo Italia 4</a></td>
							<td>02:22</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
					</table>
				</div>

				<br/>

				<div class="clases-video-container">
					<a id="t1-1"></a>
					<h3>T1-1.1 El proyectista certificado Passivhaus</h3>
					<iframe src="https://player.vimeo.com/video/187991996" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t2-1"></a>
					<h3>T1-2.1 Estándar de bajo consumo versus certificación medioambiental</h3>
					<iframe src="https://player.vimeo.com/video/187991999" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t2-2"></a>
					<h3>T1-2.2 Los orígenes del estándar Passivhaus</h3>
					<iframe src="https://player.vimeo.com/video/187992005" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t3-1"></a>
					<h3>T1-3.1 Filosofía del estándar Passivhaus</h3>
					<iframe src="https://player.vimeo.com/video/187992000" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t3-2"></a>
					<h3>T1-3.2 Criterio independiente del clima</h3>
					<iframe src="https://player.vimeo.com/video/187991998" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t3-3"></a>
					<h3>T1-3.3 Criterios directos para la certificación</h3>
					<iframe src="https://player.vimeo.com/video/187992002" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t3-4"></a>
					<h3>T1-3.4 Criterios indirectos para la certificación</h3>
					<iframe src="https://player.vimeo.com/video/187992006" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t3-5"></a>
					<h3>T1-3.5 Actividad de certificación del PHI</h3>
					<iframe src="https://player.vimeo.com/video/187991997" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t4-1"></a>
					<h3>T1-4.1 Ejemplo Alemania</h3>
					<iframe src="https://player.vimeo.com/video/188012897" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t4-2"></a>
					<h3>T1-4.2 Ejemplo España 1</h3>
					<iframe src="https://player.vimeo.com/video/188012898" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t4-3"></a>
					<h3>T1-4.3 Ejemplo España 2</h3>
					<iframe src="https://player.vimeo.com/video/188012895" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t4-4"></a>
					<h3>T1-4.4 Ejemplo España 3</h3>
					<iframe src="https://player.vimeo.com/video/188012902" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t4-5"></a>
					<h3>T1-4.5 Ejemplo España 4</h3>
					<iframe src="https://player.vimeo.com/video/188012904" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t4-6"></a>
					<h3>T1-4.6 Ejemplo España 5</h3>
					<iframe src="https://player.vimeo.com/video/188012909" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t4-7"></a>
					<h3>T1-4.7 Ejemplo España 6</h3>
					<iframe src="https://player.vimeo.com/video/188012901" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t4-8"></a>
					<h3>T1-4.8 Ejemplo Italia 1</h3>
					<iframe src="https://player.vimeo.com/video/188012900" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t4-9"></a>
					<h3>T1-4.9 Ejemplo Italia 2</h3>
					<iframe src="https://player.vimeo.com/video/188012903" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t4-10"></a>
					<h3>T1-4.10 Ejemplo Italia 3</h3>
					<iframe src="https://player.vimeo.com/video/188012908" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t4-11"></a>
					<h3>T1-4.11 Ejemplo Italia 4</h3>
					<iframe src="https://player.vimeo.com/video/188012907" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

			</div>
		</div>

	</div>
</div>