<div class="library-container">
	<%= render 'course_header_latam' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-12 columns">
				<h3 class="c01-menu-title">TEMA 2: Componentes pasivos II</h3>

				<div class="clases-temario-container">
					<table class="clases-temario" style="width:640px">
						<tr>
							<td>Imprescindible</td>
							<td style="width:40px;background-color:green"></td>
						</tr>
						<tr>
							<td>Opcional</td>
							<td style="width:40px;background-color:yellow;"></td>
						</tr>
					</table>
					<br/>
					<table class="clases-temario" style="width:640px">
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">1</td>
							<td style="width:480px;background-color:#666;color:#fff;">Estrategias pasivas tradicionales</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td>1.1</td>
							<td><a href="#t1-1">Orientación del edificio</a></td>
							<td>15:21</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td>1.2</td>
							<td><a href="#t1-2">Compacidad</a></td>
							<td>07:16</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td>1.3</td>
							<td><a href="#t1-3">Protección solar</a></td>
							<td>07:44</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>1.4</td>
							<td><a href="#t1-4">Ventilación natural</a></td>
							<td>16:43</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>1.5</td>
							<td><a href="#t1-5">Aislamiento e inercia térmica</a></td>
							<td>11:06</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>1.6</td>
							<td><a href="#t1-6">Estrategias singulares</a></td>
							<td>03:24</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">2</td>
							<td style="width:480px;background-color:#666;color:#fff;">Definición envolvente térmica</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td>2.1</td>
							<td><a href="#t2-1">Regla del rotulador y ejemplos</a></td>
							<td>08:00</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">3</td>
							<td style="width:480px;background-color:#666;color:#fff;">Ventanas Passivhaus</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td>3.1</td>
							<td><a href="#t3-1">Características físicas</a></td>
							<td>25:21</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>3.2</td>
							<td><a href="#t3-2">Definición ventanas Passivhaus</a></td>
							<td>12:09</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>3.3</td>
							<td><a href="#t3-3">Ejemplos ventanas PH</a></td>
							<td>16:34</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td>3.4</td>
							<td><a href="#t3-4">Ejemplos puertas PH</a></td>
							<td>06:01</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
					</table>
				</div>

				<br/>

				<div class="clases-video-container">
					<a id="t1-1"></a>
					<h3>T2-1.1 Orientación del edificio</h3>
					<iframe src="https://player.vimeo.com/video/188020017" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t1-2"></a>
					<h3>T2-1.2 Compacidad</h3>
					<iframe src="https://player.vimeo.com/video/188020021" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t1-3"></a>
					<h3>T2-1.3 Protección solar</h3>
					<iframe src="https://player.vimeo.com/video/188020020" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t1-4"></a>
					<h3>T2-1.4 Ventilación natural</h3>
					<iframe src="https://player.vimeo.com/video/188020025" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t1-5"></a>
					<h3>T2-1.5 Aislamiento e inercia térmica</h3>
					<iframe src="https://player.vimeo.com/video/188020022" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
					<iframe src="https://player.vimeo.com/video/188020015" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t1-6"></a>
					<h3>T2-1.6 Estrategias singulares</h3>
					<iframe src="https://player.vimeo.com/video/188020014" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t2-1"></a>
					<h3>T2-2.1 Regla del rotulador y ejemplos</h3>
					<iframe src="https://player.vimeo.com/video/188020019" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t3-1"></a>
					<h3>T2-3.1 Características físicas</h3>
					<iframe src="https://player.vimeo.com/video/188020027" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t3-2"></a>
					<h3>T2-3.2 Definición ventanas Passivhaus</h3>
					<iframe src="https://player.vimeo.com/video/188020023" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t3-3"></a>
					<h3>T2-3.3 Ejemplos ventanas PH</h3>
					<iframe src="https://player.vimeo.com/video/188020024" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t3-4"></a>
					<h3>T2-3.4 Ejemplos puertas PH</h3>
					<iframe src="https://player.vimeo.com/video/188020029" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

			</div>
		</div>

	</div>
</div>