<div class="library-container">
	<%= render 'course_header_latam' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-12 columns">
				<h3 class="c01-menu-title">TEMA 3: Introducción en cálculos simplificados, PHPP y DesignPH</h3>

				<div class="clases-temario-container">
					<table class="clases-temario" style="width:640px">
						<tr>
							<td>Imprescindible</td>
							<td style="width:40px;background-color:green"></td>
						</tr>
						<tr>
							<td>Opcional</td>
							<td style="width:40px;background-color:yellow;"></td>
						</tr>
					</table>
					<br/>
					<table class="clases-temario" style="width:640px">
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">1</td>
							<td style="width:480px;background-color:#666;color:#fff;">Cálculos simplificados</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td>1.1</td>
							<td><a href="#t1-1">Cálculos simplificados según EN-ISO 13790</a></td>
							<td>19:50</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">2</td>
							<td style="width:480px;background-color:#666;color:#fff;">La envolvente térmica en PHPP</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td>2.1</td>
							<td><a href="#t2-1">Introducción</a></td>
							<td>07:20</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td>2.2</td>
							<td><a href="#t2-2">Valores U</a></td>
							<td>06:02</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td>2.3</td>
							<td><a href="#t2-3">Superficies</a></td>
							<td>15:17</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td>2.4</td>
							<td><a href="#t2-4">Ventanas</a></td>
							<td>10:50</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">3</td>
							<td style="width:480px;background-color:#666;color:#fff;">La envolvente térmica en Design-PH</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td>3.1</td>
							<td><a href="#t3-1">Modelización del edificio de referencia</a></td>
							<td>17:17</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td>3.2</td>
							<td><a href="#t3-2">Ejemplo exportación a PHPP</a></td>
							<td>03:23</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
					</table>
				</div>

				<br/>

				<div class="clases-video-container">
					<a id="t1-1"></a>
					<h3>T3-1.1 Cálculos simplificados según EN-ISO 13790</h3>
					<iframe src="https://player.vimeo.com/video/188025262" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t2-1"></a>
					<h3>T3-2.1 Introducción</h3>
					<iframe src="https://player.vimeo.com/video/188025266" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t2-2"></a>
					<h3>T3-2.2 Valores U</h3>
					<iframe src="https://player.vimeo.com/video/188025263" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t2-3"></a>
					<h3>T3-2.3 Superficies</h3>
					<iframe src="https://player.vimeo.com/video/188025269" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t2-4"></a>
					<h3>T3-2.4 Ventanas</h3>
					<iframe src="https://player.vimeo.com/video/188025267" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t3-1"></a>
					<h3>T3-3.1 Modelización del edificio de referencia</h3>
					<iframe src="https://player.vimeo.com/video/188025265" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t3-2"></a>
					<h3>T3-3.2 Ejemplo exportación a PHPP</h3>
					<iframe src="https://player.vimeo.com/video/188025264" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

			</div>
		</div>

	</div>
</div>