	<div class="library-container">
	<%= render 'course_header_latam' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-12 columns">
				<h3 class="c01-menu-title">TEMA 4: Hermeticidad al paso de aire</h3>

				<div class="clases-temario-container">
					<table class="clases-temario" style="width:640px">
						<tr>
							<td>Imprescindible</td>
							<td style="width:40px;background-color:green"></td>
						</tr>
						<tr>
							<td>Opcional</td>
							<td style="width:40px;background-color:yellow;"></td>
						</tr>
					</table>
					<br/>
					<table class="clases-temario" style="width:640px">
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">1</td>
							<td style="width:480px;background-color:#666;color:#fff;">Las diferentes maneras de ventilar</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td>1.1</td>
							<td><a href="#t1-1">Las diferentes maneras de ventilar</a></td>
							<td>08:10</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">2</td>
							<td style="width:480px;background-color:#666;color:#fff;">Energía e infiltración</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td>2.1</td>
							<td><a href="#t2-1">Energía e infiltración</a></td>
							<td>06:37</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">3</td>
							<td style="width:480px;background-color:#666;color:#fff;">Salubridad e infiltración</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td>3.1</td>
							<td><a href="#t3-1">Salubridad e infiltración</a></td>
							<td>20:24</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td>3.2</td>
							<td><a href="#t3-2">Salubridad e infiltración 2</a></td>
							<td>03:46</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">4</td>
							<td style="width:480px;background-color:#666;color:#fff;">Estrategias hermeticidad al aire</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td>4.1</td>
							<td><a href="#t4-1">Estrategias de hermeticidad al aire</a></td>
							<td>18:22</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>4.2</td>
							<td><a href="#t4-2">Estrategias de hermeticidad al aire 2</a></td>
							<td>11:00</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>4.3</td>
							<td><a href="#t4-3">Estrategias de hermeticidad al aire 3</a></td>
							<td>15:11</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>4.4</td>
							<td><a href="#t4-4">Estrategias de hermeticidad al aire 4</a></td>
							<td>06:27</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>4.5</td>
							<td><a href="#t4-5">Estrategias de hermeticidad al aire 5</a></td>
							<td>08:15</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>4.6</td>
							<td><a href="#t4-6">Estrategias de hermeticidad al aire 6</a></td>
							<td>20:00</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">5</td>
							<td style="width:480px;background-color:#666;color:#fff;">Ejemplos de hermeticidad al aire</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td>5.1</td>
							<td><a href="#t5-1">Ejemplos de hermeticidad al aire</a></td>
							<td>06:11</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>5.2</td>
							<td><a href="#t5-2">Ejemplos de hermeticidad al aire 2</a></td>
							<td>18:15</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>5.3</td>
							<td><a href="#t5-3">Ejemplos de hermeticidad al aire 3</a></td>
							<td>11:26</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>5.4</td>
							<td><a href="#t5-4">Ejemplos de hermeticidad al aire 4</a></td>
							<td>13:28</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>5.5</td>
							<td><a href="#t5-5">Ejemplos de hermeticidad al aire 5</a></td>
							<td>05:17</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>5.6</td>
							<td><a href="#t5-6">Ejemplos de hermeticidad al aire 6</a></td>
							<td>09:55</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>5.7</td>
							<td><a href="#t5-7">Ejemplos de hermeticidad al aire 7</a></td>
							<td>14:10</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>5.8</td>
							<td><a href="#t5-8">Ejemplos de hermeticidad al aire 8</a></td>
							<td>10:59</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
					</table>
				</div>

				<br/>

				<div class="clases-video-container">
					<a id="t1-1"></a>
					<h3>T4-1.1 Las diferentes maneras de ventilar</h3>
					<iframe src="https://player.vimeo.com/video/384790431" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t2-1"></a>
					<h3>T4-2.1 Energía e infiltración</h3>
					<iframe src="https://player.vimeo.com/video/384774628" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t3-1"></a>
					<h3>T4-3.1 Salubridad e infiltración</h3>
					<iframe src="https://player.vimeo.com/video/384779953" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t3-2"></a>
					<h3>T4-3.2 Salubridad e infiltración 2</h3>
					<iframe src="https://player.vimeo.com/video/385927031" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t4-1"></a>
					<h3>T4-4.1 Estrategias de hermeticidad al aire</h3>
					<iframe src="https://player.vimeo.com/video/384790431" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t4-2"></a>
					<h3>T4-4.2 Estrategias de hermeticidad al aire 2</h3>
					<iframe src="https://player.vimeo.com/video/385536860" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t4-3"></a>
					<h3>T4-4.3 Estrategias de hermeticidad al aire 3</h3>
					<iframe src="https://player.vimeo.com/video/385540339" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t4-4"></a>
					<h3>T4-4.4 Estrategias de hermeticidad al aire 4</h3>
					<iframe src="https://player.vimeo.com/video/385540828" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t4-5"></a>
					<h3>T4-4.5 Estrategias de hermeticidad al aire 5</h3>
					<iframe src="https://player.vimeo.com/video/385637147" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t4-6"></a>
					<h3>T4-4.6 Estrategias de hermeticidad al aire 6</h3>
					<iframe src="https://player.vimeo.com/video/385637550" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t5-1"></a>
					<h3>T4-5.1 Ejemplos de hermeticidad al aire</h3>
					<iframe src="https://player.vimeo.com/video/385640913" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t5-2"></a>
					<h3>T4-5.2 Ejemplos de hermeticidad al aire 2</h3>
					<iframe src="https://player.vimeo.com/video/385641284" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t5-3"></a>
					<h3>T4-5.3 Ejemplos de hermeticidad al aire 3</h3>
					<iframe src="https://player.vimeo.com/video/385642499" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t5-4"></a>
					<h3>T4-5.4 Ejemplos de hermeticidad al aire 4</h3>
					<iframe src="https://player.vimeo.com/video/385643872" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t5-5"></a>
					<h3>T4-5.5 Ejemplos de hermeticidad al aire 5</h3>
					<iframe src="https://player.vimeo.com/video/385647219" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t5-6"></a>
					<h3>T4-5.6 Ejemplos de hermeticidad al aire 6</h3>
					<iframe src="https://player.vimeo.com/video/385676598" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t5-7"></a>
					<h3>T4-5.7 Ejemplos de hermeticidad al aire 7</h3>
					<iframe src="https://player.vimeo.com/video/385676349" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t5-8"></a>
					<h3>T4-5.8 Ejemplos de hermeticidad al aire 8</h3>
					<iframe src="https://player.vimeo.com/video/385687827" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

			</div>
		</div>

	</div>
</div>