<div class="library-container">
	<%= render 'course_header_latam' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-12 columns">
				<h3 class="c01-menu-title">TEMA 6: Blower door</h3>

				<div class="clases-temario-container">
					<table class="clases-temario" style="width:640px">
						<tr>
							<td>Imprescindible</td>
							<td style="width:40px;background-color:green"></td>
						</tr>
						<tr>
							<td>Opcional</td>
							<td style="width:40px;background-color:yellow;"></td>
						</tr>
					</table>
					<br/>
					<table class="clases-temario" style="width:640px">
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">1</td>
							<td style="width:480px;background-color:#666;color:#fff;">Teoría Blower Door</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td>1.1</td>
							<td><a href="#t1-1">Montaje</a></td>
							<td>20:35</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>1.2</td>
							<td><a href="#t1-2">Búsqueda de infiltraciones</a></td>
							<td>05:17</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">2</td>
							<td style="width:480px;background-color:#666;color:#fff;">Práctica Blower Door</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td>2.1</td>
							<td><a href="#t2-1">Ensayo</a></td>
							<td>16:00</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
					</table>
				</div>

				<br/>

				<div class="clases-video-container">
					<a id="t1-1"></a>
					<h3>T6-1.1 Montaje</h3>
					<iframe src="https://player.vimeo.com/video/334481136" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t1-2"></a>
					<h3>T6-1.2 Búsqueda de infiltraciones</h3>
					<iframe src="https://player.vimeo.com/video/334689517" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t2-1"></a>
					<h3>T6-2.1 Ensayo</h3>
					<iframe src="https://player.vimeo.com/video/334691682" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

			</div>
		</div>

	</div>
</div>