<div class="library-container">
	<%= render 'course_header_quedateencasa' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-12 columns">
				<h3 class="c01-menu-title">Vídeos</h3>
				
				<div class="clases-video-container">
					<h3>Primera clase</h3>
					<iframe src="https://player.vimeo.com/video/407998056" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3>Segunda clase</h3>
					<iframe src="https://player.vimeo.com/video/408084585" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3>Tercera clase</h3>
					<iframe src="https://player.vimeo.com/video/412692297" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3>Cuarta clase</h3>
					<iframe src="https://player.vimeo.com/video/412692449" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3>Quinta clase</h3>
					<iframe src="https://player.vimeo.com/video/412851130" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

			</div>
		</div>
	</div>
</div>