<div class="library-container">
	<%= render 'course_header_ingennus' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-12 columns">
				<h3>Clases grabadas</h3>

				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/435088673" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/435089133" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/436334926" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/436917987" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>