<div class="library-container">
	<%= render 'course_header_tradesperson' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-12 columns">
				<h3 class="c01-menu-title">Blower door test</h3>
				
				<div class="clases-video-container">
					<h3>1. Montaje</h3>
					<iframe src="https://player.vimeo.com/video/334481136" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3>2. Búsqueda de infiltraciones</h3>
					<iframe src="https://player.vimeo.com/video/334689517" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3>3. El ensayo</h3>
					<iframe src="https://player.vimeo.com/video/334691682" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>