<div class="library-container">
	<%= render 'course_header' %>
	<div class="c01-course-menu-container">
		<div class="row">
			<div class="medium-12 columns">
				<div>No tenéis permisos para acceder a estos contenidos.</div>
			</div>
		</div>
	</div>
</div>