<div class="library-container">
	<%= render 'course_header' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-12 columns">
				<h3 class="c01-menu-title">Vídeos de las clases</h3>
				
				
				<div class="clases-video-container">
					<h3 class="clases-numero">1</h3>
					<iframe src="https://player.vimeo.com/video/415087670" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">2</h3>
					<iframe src="https://player.vimeo.com/video/415087775" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3 class="clases-numero">3</h3>
					<iframe src="https://player.vimeo.com/video/415478267" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

			</div>
		</div>
	</div>
</div>