<div class="library-container">
	<%= render 'course_header' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-12 columns">
				<h3>Clases grabadas</h3>
				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/415087670" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/415087775" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/417745896" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/417182883" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/417514008" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/417746234" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/418431382" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/420698809" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/420699025" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/421238212" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<br/>
		
		<div class="row">
			<div class="medium-12 columns">
				<h3>Sesiones extras del primer viernes</h3>
				
				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							
							<iframe src="https://player.vimeo.com/video/416436957" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="clases-video-container">
							
							<iframe src="https://player.vimeo.com/video/416437070" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							
							<iframe src="https://player.vimeo.com/video/416437163" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-12 columns">
				<h3>Sesiones extras del segundo viernes</h3>
				
				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							
							<iframe src="https://player.vimeo.com/video/419980465" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="clases-video-container">
							
							<iframe src="https://player.vimeo.com/video/419980573" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							
							<iframe src="https://player.vimeo.com/video/420003311" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="clases-video-container">
							
							<iframe src="https://player.vimeo.com/video/419980774" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-12 columns">
				<h3>Sesiones extras del tercer viernes</h3>
				
				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							
							<iframe src="https://player.vimeo.com/video/421571809" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="clases-video-container">
							
							<iframe src="https://player.vimeo.com/video/421571980" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							
							<iframe src="https://player.vimeo.com/video/422393306" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="clases-video-container">
							
							<iframe src="https://player.vimeo.com/video/422393508" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>