<div class="library-container">
	<%= render 'course_header' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-12 columns">
				<h3 class="c01-menu-title">Vídeos de las clases</h3>
				
				<p>De momento no hay vídeos publicados.</p>

			</div>
		</div>
	</div>
</div>