<div class="library-container">
	<%= render 'course_header_sobreestants' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-12 columns">
				<h3>Grabación de la jornada</h3>
				<div class="row">
					<div class="medium-6 columns">
						<div class="clases-video-container">
							<iframe src="https://player.vimeo.com/video/465934732" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>