<div class="library-container">
	<div class="c01-course-page-title">
		<h2 class="c01-course-name">Tradesperson abril 2021</h2>
	  <h3 class="c01-course-instructor">con Micheel Wassouf y Martín Amado</h3>
	</div>
	<div class="c01-course-menu-container">
		
		<div class="row">
			
		</div>

		<div class="row">
			<div class="medium-8 columns">
				
				<h3>Clases grabadas</h3>
				
				<div class="clases-video-container">
					<h3>Sesión 1</h3>
					<iframe src="https://player.vimeo.com/video/542553877" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h3>Sesión 2</h3>
					<iframe src="https://player.vimeo.com/video/543142151" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>
				
				
			</div>

			<div class="medium-4 columns">
				

				<p>Documentación:</p>
				<div style="border: 1px solid #ccc;background-color: #eaeaea;padding: 10px">
					<a href="https://edificapro.s3-eu-west-1.amazonaws.com/energiehaus/documentacion_trades_abril2021.zip" download>
						<%= image_tag "download.png", class:"imatge-download" %>
					  Descargar documentación
					</a>
				</div>

				<br/>
				<br/>
				
				<div style="border: 1px solid #ccc;background-color: #eaeaea;padding: 10px">
					<%= link_to clases_passivhaus_pq4rt_path do %>
						<%= image_tag "video_icon.png", class:"imatge-download" %>
					  Vídeos de blower door
					<% end %>
				</div>
				<br/>
				<br/>
			</div>
		</div>
	</div>
</div>
