<div class="library-container">
	<div class="c01-course-page-title">
		<h2 class="c01-course-name">Tradesperson - Parte pasiva</h2>
	  <h3 class="c01-course-instructor">con Micheel Wassouf</h3>
	</div>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-12 columns">
				<h3 class="c01-menu-title">Sesiones grabadas</h3>

				<div class="clases-video-container">
					<h3>Sesi贸n 1</h3>
					<iframe src="https://player.vimeo.com/video/433742385" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="medium-12 columns">

				<div class="clases-video-container">
					<h3>Sesi贸n 2</h3>
					<iframe src="https://player.vimeo.com/video/434417432" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="medium-12 columns">

				<div class="clases-video-container">
					<h3>Sesi贸n 3</h3>
					<iframe src="https://player.vimeo.com/video/435150843" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="medium-12 columns">

				<div class="clases-video-container">
					<h3>Sesi贸n 4</h3>
					<iframe src="https://player.vimeo.com/video/436107629" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

			</div>
		</div>
	</div>
</div>