<div class="purchase-container">
  <div class="row">
    <div class="small-12 columns">
	    <% if flash[:error] %>
		    <div class="error"><%= flash[:error] %></div>
		  <% end %>
	  </div>
	</div>

	<div class="row">
    <div class="small-12 columns">
	    <p>Alguna cosa ha anat malament i el pagament no s'ha produït.</p>
	    <p>De moment ja et donem accés al curs, però ens posarem en contacte amb tu per trobar la manera de realitzar el pagament.</p>
	  </div>
	</div>
</div>